---
layout: default
permalink: /
title: Creative Technology - Digital Strategy | SeeSaw Labs
description: test
---

{% include nav.html %}
    <div id="indexContainer">
      <section id="hero" class="mainbackground">
        <div class="row">
          <div class="col-md-12">
            <div class="headercontainer">
              <h1>You be the RockStar</h1>
              <h3>We'll Be Your Tech Roadies</h3>
            </div>
            <p>Consistent execution separates the legends from one-hit-wonders, and it takes a team of dedicated roadies to make it happen.</p>
            <p>SeeSaw Labs is a creative technology company─your team of experienced and dedicated roadies─climbing on board to execute on all of your ideas, successfully every time.</p>
            <a class="scroll letsPlay visibledesktop" href="#digital">
              <img src="{{site.baseurl}}/assets/images/pick.svg" alt="Let's Rock"/><span>Let's</span><span>Rock</span>
            </a>
          </div>
        </div>
      </section>
      {% include digital.html %}
      {% include quote.html %}
      {% include solutions.html %}
      <section id="linkNYC" class="backgroungLink">
        <div class="row">
          <div class="col-md-8 col-sm-6 floatleftsection">
            <h4>Case Study</h4>
            <h2>LinkNYC KIOSKS</h2>
            <p>A dynamic, context-aware, cutting edge digital advertising platform on over 500 LinkNYC kiosks throughout NYC.</p>
            <p>The best part? Super fast, completely free WiFi for all.</p>
          </div>
          <div class="col-md-4 col-sm-6 floatrightsection">
            <img src="{{site.baseurl}}/assets/images/caseStudy_linknyc@2x.png" alt=""/>
            <a class="btn btn-secondary-outline marginLeft visibletabletDesktop" href="{{site.baseurl}}/our-work/">Go Backstage</a>
          </div>
          <div class="col-sm-12 btnBackstage visiblemobile">
            <a class="btn btn-secondary-outline marginLeft" href="{{site.baseurl}}/our-work/">Go Backstage</a>
          </div>
        </div>
      </section>
      <section id="lemletLab" class="backgroungletLab">
        <div class="row">
          <div class="col-md-6 floatleftsection">
            <a class="btn btn-secondary-outline marginRight visibletabletDesktop" href="{{site.baseurl}}/our-crew/">Our Crew</a>
            <img src="{{site.baseurl}}/assets/images/labs_lemlet@2x.png" alt=""/>
          </div>
          <div class="col-md-6 floatrightsection">
            <h4>From the Lab</h4>
            <h2>LEMLET</h2>
            <p>Private group texting for any private event: bachelor parties, pub crawls, work retreats, your kid's sports team...</p>
            <p>
              <span>No app to download.</span>
              <span>No need to store or know anyone's number.</span>
            </p>
          </div>
          <div class="col-md-12 btnBackstage visiblemobile">
            <a class="btn btn-secondary-outline marginRight" href="{{site.baseurl}}/our-crew/">Our Crew</a>
          </div>
        </div>
      </section>
      {% include clients.html %}
      {% include ready-rock.html %}
    </div>
