---
layout: default
permalink: /our-process/
title: Our Process | SeeSaw Labs
description: Process is critical to the success of digital development, but it's not a one-size-fits-all exercise. We tailor our process to project type and client needs.
---

{% include nav.html %}
<div id="ourprocessContainer">
  <section id="hero" class="ourprocessbackground">
    <div class="row">
      <div class="col-md-12">
        <div class="headercontainer">
          <h1>Behind the Scenes</h1>
          <h3>Our Process</h3>
        </div>
        <p>Process is critical to the success of digital development, but it's not a one&#8209size&#8209fits&#8209all exercise. Process often has to be tailored to the type of project and to the needs of our rockstars.</p>
        <p>Part of our partnership promise is finding the right rhythm when working together. The following provides a general framework that we employ when getting those rockstar ideas realized and launched.</p>
      </div>
    </div>
  </section>
  <section id="discovery">
    <div class="row">
      <div class="col-sm-12">
        <h2>Discovery</h2>
        <p>Review business objectives, identify product features, identify user stories and use cases.</p>
        <p>Identify success criteria for all user personas using the product.</p>
      </div>
    </div>
  </section>
  <section id="design">
    <div class="row">
      <div class="col-sm-12">
        <h2>Design</h2>
        <p>There is more to our design phase than what meets the eye. Our design phase includes User Interface (UI) design, User Experience(UX) design, Software Architecture design, Hardware Architecture design, designing Quality Assurance (QA) test criteria, and designing a project plan for the remainder of the project.</p>
      </div>
    </div>
  </section>
  <section id="rapid">
    <div class="row">
      <div class="col-sm-12">
        <h2>Rapid UX Prototyping</h2>
        <p>We know that seeing is believing. The rapid UX prototyping phase allows us to quickly showcase the UI and UX design direction to ensure the vision is aligned with everyone's expectations. We'll course correct as needed, until we achive 100% satisfaction from all project stakeholders.</p>
      </div>
    </div>
  </section>
  <section id="develop">
    <div class="row">
      <div class="col-sm-12">
        <h2>Development and Testing</h2>
        <p>Develop...Test...Solicit and Incorporate Feedback...</p>
        <p>Develop...Test...Solicit and Incorporate Feedback...Repeat until all agreed-upon criteria is met and all stakeholders are happy.</p>
      </div>
    </div>
  </section>
  <section id="launch">
    <div class="row">
      <div class="col-sm-12">
        <h2>Launch</h2>
        <p>Here is where we create a release candidate build of the software and make our final production environment configuration and implementation changes. We do final testing against this production environment and then launch into the market. We will alse work to identify and address any issues discovered post launch.</p>
        <p></p>
      </div>
    </div>
  </section>
  {% include ready-rock.html %}
</div>
