---
layout: default
permalink: /our-work/
---

{% include nav.html %}
    <div id="ourworkContainer">
      <section id="hero" class="ourworkbackground">
        <div class="row">
          <div class="col-md-12">
            <div class="headercontainer">
              <h1>Behind the Scenes</h1>
              <h3>Our Work</h3>
            </div>
            <p>We're in this for the long haul─developing lasting partnerships with clients to create new and improve exisiting experiences.</p>
            <p>Acting as an agile, scalable extension of your team, we're able to quicly and seemlessly see ideas through from the rapid prototyping stage to simple, clean and useful enterprise level software products.</p>
          </div>
        </div>
      </section>
      <section id="linkNYC" class="backgroungLink">
        <div class="row">
          <div class="col-md-6 col-sm-12 floatleftsection">
            <img src="{{site.baseurl}}/assets/images/caseStudy1@2x.png" alt="" class="visiblemobile"/>
            <h4>Case Study</h4>
            <h2>LinkNYC KIOSKS</h2>
            <p class="firstParagraph">Seesaw Labs has partnered with CityBridge and Intersection to provide a turnkey solution for implementing the HTML5 advertisements displayed on over 500 LinkNYC kiosks throughout the five boroughs.</p>
            <p>The fast, completely free WiFi they provide is funded through its groundbreaking digital OOH advertising network that not only provides a rich context-aware platform, reaching countless New Yorkers and visitors each day, but will also generate more than a half a billion dollars in revenue for New York City.</p>
            <p>Because timing is everything, we've custom build a data gathering and aggregation platform as well as an Austin based QA unit, tied right into the NYC network. These innovative tools allow us to rapidly test and populate the LinkNYC system with the data-driven dynamic ad campaigns crucial to the success to the project.</p>
          </div>
          <div class="col-md-6 col-sm-12 visibletabletDesktop floatrightsection">
            <img src="{{site.baseurl}}/assets/images/caseStudy1@2x.png" alt=""/>
          </div>
        </div>
      </section>
      <section id="lemletLab" class="backgroungletLab">
        <div class="row">
          <div class="col-md-6 col-sm-12 visibletabletDesktop floatleftsection">
            <img src="{{site.baseurl}}/assets/images/caseStudy2@2x.png" alt="" />
          </div>
          <div class="col-md-6 col-sm-12 floatrightsection">
            <img src="{{site.baseurl}}/assets/images/caseStudy2@2x.png" alt="" class="visiblemobile"/>
            <h4>Case Study</h4>
            <h2>kountable</h2>
            <p class="firstParagraph">Kountable is an online marketplace focused on matching dynamic enterpreneurs in the developing world to investors looking to create immediate positive change in the world.</p>
            <p>As kountable's ongoing technology partner, Seesaw Labs builds and maintains their full product offering including web applications, native mobile applications, and a specialized API for 3rd party consumption.</p>
            <p>Through kountable's custom built web app, an enterpreneur's digital footprint is translated to a kScore&#8209a metric then used to help investors assess risk.</p>
          </div>
        </div>
      </section>
      {% include quote.html %}
      {% include digital.html %}
      <section id="ourworksolutions">
        <div class="col-sm-12 oursolutions1">
          <h2>Tech Strategy</h2>
          <p>We are hands-on consultants, producers, and curators of technical insights. We beleive all great projects start by asking questions, without a prejudice to the answer. Only after diving deep into your situation can we craft supportive technology recommendations that will lead to success.</p>
        </div>
        <div class="col-sm-12 oursolutions2">
          <h2>eCommerce Solutions</h2>
          <p>With years of experience developing enterprise e&#8209commerce solutions, we know what it takes to help our clients build a successfull and profitable e&#8209commerce experience across the digital sales channel.</p>
        </div>
        <div class="col-sm-12 oursolutions3">
          <h2>Cloud Solutioning</h2>
          <p>We specialize in quickly building tools that allow our clients to put their ideas through rigorous testing evaluation and refinement. Then we work with clients to understand how the prototype examples can best be understood to allow for a collaborative and effective iteration process.</p>
        </div>
      </section>
      <section id="clients">
        <div class="row">
          <div class="col-md-12">
            <h2>Some of Our Favorite Rockstars</h2>
          </div>
          <div class="col-md-12">
            <img src="{{site.baseurl}}/assets/images/rockstars.png" alt="" class="visibletabletDesktop"/>
            <img src="{{site.baseurl}}/assets/images/rockstars_mobile.png" alt="" class="visiblemobile"/>
          </div>
          <div class="col-md-12 visibletabletMobile">
            <button id="goBackstage" type="button" class="btn btn-secondary-outline">Let's Connect</button>
          </div>
        </div>
      </section>
      {% include ready-rock.html %}
    </div>
