<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col md-offset-1">
                    <img src="/img/austin.jpg" alt="Austin, TX" style="  max; width: 100%; margin: 0 auto; display: block;">
                </div>
                <div class="col-md-6 text-center">
                    <h3 class="section-subheading text-muted">
                    <p><strong>The seesaw is a simple machine: a device that uses mechanical advantage to multiply force and an elementary building block from which more complex machines are built.: a device that uses mechanical advantage to multiply force.</strong></p>
                    <p>We have found inspiration in the seesaw. We use our technical and design advantage to multiply the benefits and profits for your business. The seesaw is simple and playful yet still, as a lever and fulcrum, incredibly powerful and useful. When crafting technical solutions, we start with simple modules and build intentionally toward complexity as needed.</p></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image color-1">
                                <!-- seesaw -->
                                <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Why</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Because we love to create. Because we all need businesses, both small and large, to be successful. Because both businesses and end-users deserve elegant solutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image color-2">
                                <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We create new and improve existing applications to help businesses do their job better and increase the value of their products to the end-user.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>How</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Rapid prototyping, transparency and agility to produce simple, clean and useful Web and mobile applications for satisfied user experiences every single day.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image color-0">
                                <h4><a href="#contact">Be Part
                                    <br>Of Our
                                    <br>Story!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>