<section id="clients">
  <div class="row">
    <div class="col-md-12">
      <h2>Some of Our Favorite Rockstars</h2>
    </div>
    <div class="col-md-12">
      <img src="{{site.baseurl}}/assets/images/rockstars.png" alt="" class="visibletabletDesktop"/>
      <img src="{{site.baseurl}}/assets/images/rockstars_mobile.png" alt="" class="visiblemobile"/>
    </div>
    <div class="col-md-12 visibletabletMobile">
      <a class="btn btn-secondary-outline" href="{{site.baseurl}}/lets-connect/">Let's Connect</a>
    </div>
  </div>
</section>
