<section id="digital" class="digital">
  <div class="row">
    {% if page.url != "/our-work/" %}<a class="nostyleAnchor" href="{{site.baseurl}}/our-work/">{% endif %}
    {% if page.url != "/our-work/" %}
    <div class="col-lg-6 col-md-5 col-sm-12 digital-execution">
    {% else %}
    <div class="col-md-6 col-sm-12 digital-execution">
    {% endif %}
      <h2>Digital Execution</h2>
      <p>We get startups started. We bring life to creative Agencies' visions. We modernize established company’s legacy systems. We maintain and support everything we build.</p>
      <p>Full-lifecycle, cross-platform custom software development─taking you from big idea to production reality...and keeping you there.</p>
    </div>
    {% if page.url != "/our-work/" %}</a>{% endif %}
    {% if page.url != "/our-work/" %}
    <div class="col-sm-12 visiblemobile">
      <a class="btn btn-secondary-outline marginLeft" href="{{site.baseurl}}/our-work/">Go Backstage</a>
    </div>
    <div class="col-md-2 visibletablet">
      <a class="goBackstagetablet" href="{{site.baseurl}}/our-work/">
        <img src="{{site.baseurl}}/assets/images/pick.svg" alt="Let's Play"/><span>Go</span><span>Backstage</span>
      </a>
    </div>
    {% endif %}
    {% if page.url != "/our-work/" %}<a class="nostyleAnchor" href="{{site.baseurl}}/our-work/">{% endif %}
    {% if page.url != "/our-work/" %}
    <div class="col-lg-6 col-md-5 col-sm-12 digital-innovtion">
    {% else %}
    <div class="col-md-6 col-sm-12 digital-innovtion">
    {% endif %}
      <h2>Digital Exploration</h2>
      <p>Virtual reality, artificial intelligence, chat bots, touch screen interfaces─we can't get enough of building cool stuff.</p>
      <p>Let's blaze a new trail together.</p>
    </div>
    {% if page.url != "/our-work/" %}</a>{% endif %}
  </div>
</section>
