<section id="footer" class="blackbar">
  <div class="row">
    <div class="col-md-4 col-sm-12 copyrigth">
      <span>© 2017 SeeSaw Labs, All Rights Reserved</span>
    </div>
    <div class="col-md-4">
      <a href="/">
        <div id="footerLogo" class="sslLogo inline text-xs-center">
          <img class="logoImage" src="{{site.baseurl}}/assets/images/newNavLogo.png" alt="Desktop SeeSaw Logo" />
        </div>
      </a>
    </div>
    <div class="col-md-4 socialmedia">
      <a href="https://www.linkedin.com/company/seesaw-labs"> <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="{{site.baseurl}}/assets/js/app.js"></script>

        <script>
        window.jQuery || document.write('<script src="//v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')
        </script>

     <script src="//www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
     <script src="//v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78975102-1', 'auto');
  ga('send', 'pageview');

</script>
