     <section id="footer" class="blackbar">
        <div class="row">
          <div class="col-sm-4 copyrigth">
              <span>© 2017 SeeSaw Labs, All Rights Reserved</span>
          </div>
          <div class="col-sm-4">
            <div id="footerLogo" class="sslLogo inline text-xs-center">
                <img class="logoImage" src="./assets/images/newNavLogo.png" alt="Desktop SeeSaw Logo" />
            </div>
          </div>
          <div class="col-sm-4 socialmedia">
            <a href="https://www.linkedin.com/company/seesaw-labs"> <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
    </section>
            <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="./assets/js/app.js"></script>

        <script>
        window.jQuery || document.write('<script src="//v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')
        </script>
     <script src="//www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
     <script src="//v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
