<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@seesawlabs">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:creator" content="@seesawlabs">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta property="og:image" content="http://seesawlabs.com/assets/images/desktopLogo.svg" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.seesawlabs.com/" />
    <meta property="og:image" content="http://seesawlabs.com/assets/images/desktopLogo.svg" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:site_name" content="SeeSaw Labs" />

    <link rel="icon shortcut" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/images/favicon96.png">
    <link rel="icon shortcut" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon32.png">
    <link rel="icon shortcut" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon16.png">
    <title>{{page.title}}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/icon/apple-icon-180x180.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/assets/css/main.css?_=2016122601" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&thickness=5"rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="//v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- google analytics -->
    <!--Swiper files-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <!--script src="{{site.baseurl}}/bower_components/swiper/dist/js/swiper.jquery.min.js"></script-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90993421-1', 'auto');
    ga('send', 'pageview');

    </script>
    <!-- google analytics -->
</head>
