
    <nav class="navbar navbar-nav navbar-toggler blackbar">
        <div class="row">
           <a class='scroll' href="#indexContainer">
            <div id="navLogo" class="sslLogo col-sm-2 inline">
                <img class="logoImage" id="logoDesktop" src="./assets/images/newNavLogo.png" alt="Desktop SeeSaw Logo" />
                <img class="logoImage" id="logoMobile" src="./assets/images/mobileLogo.png" alt="Mobile SeeSaw Logo" />
            </div>
          </a>
            <div id="desktopNav">
              <div id="desktopNavLinks" class="col-sm-10 inline navBarLinks text-xs-right">
                  <a class="uppercase marginRight scroll" href="#caseStudies"><div class="navItalicFont">Our</div><div class="navFont">Work</div></a>
                  <a class="uppercase marginRight scroll" href="#howWeCanHelp"><div class="navItalicFont">Our</div><div class="navFont">Process</div></a>
                  <a class="uppercase marginRight scroll" href="#ourProcessSection"><div class="navItalicFont">Our</div><div class="navFont">Crew</div></a>
                  <a class="uppercase marginRight scroll" href="#about"><div class="navItalicFont">Let's</div><div class="navFont">Connect</div></a>
              </div>
            </div>
            <div id="mobileNav">
              <nav id="mobileNavBar" class="navbar navbar-light inline">
                  <button class="navbar-toggler iconHamburgerSSL" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                  </button>
              </nav>
            </div>
            <div class="collapse" id="exCollapsingNavbar">
                <div id="nonCollapsedMenu" class="bg-inverse p-a-1">
                    <ul>
                        <li>
                             <a class="uppercase {% if current[1] == 'caseStudies.html' %} current{% endif %} scroll" href="#caseStudies" data-toggle="collapse" data-target="#exCollapsingNavbar"><div class="navItalicFont">Our</div><div class="navFont">Work</div></a>
                        </li>
                        <li>
                             <a class="uppercase {% if current[1] == 'services.html' %} current{% endif %} scroll" href="#howWeCanHelp" data-toggle="collapse" data-target="#exCollapsingNavbar"><div class="navItalicFont">Our</div><div class="navFont">Process</div></a>
                        </li>
                        <li>
                            <a class="uppercase {% if current[1] == 'process.html' %} current{% endif %} scroll" href="#ourProcessSection" data-toggle="collapse" data-target="#exCollapsingNavbar"><div class="navItalicFont">Our</div><div class="navFont">Crew</div></a>
                        </li>
                        <li>
                            <a class="uppercase {% if current[1] == 'about.html' %} current{% endif %}  scroll" href="#about" data-toggle="collapse" data-target="#exCollapsingNavbar"><div class="navItalicFont">Let's</div><div class="navFont">Connect</div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
