 <div id="desktopNav">
            <nav class="navbar navbar-nav navbar-toggler">
                <div class="row">
                    <div id="tabletNavLogo" class="col-sm-4 inline text-xs-center navLogoDiv">
                        <img id="navLogoImage" src="assets/images/navLogo.png" />
                    </div>
                    <div id="desktopNavLogo" class="col-sm-2 inline text-xs-center navLogoDiv">
                        <img class="navLogoImage" src="assets/images/navLogo.png" />
                    </div>
                    <div id="tabletNavLinks" class="col-sm-8 inline navBarLinks text-xs-right">
                        <a class="uppercase marginRight" href="#">Services</a>
                        <a class="uppercase marginRight" href="#">Case Studies</a>
                        <a class="uppercase marginRight" href="#">About</a>
                        <a class="uppercase marginRight" href="#">Contact</a>
                    </div>
                    <div id="desktopNavLinks" class="col-sm-10 inline navBarLinks text-xs-right">
                        <a class="uppercase marginRight" href="#">Services</a>
                        <a class="uppercase marginRight" href="./caseStudies.html">Case Studies</a>
                        <a class="uppercase marginRight" href="#">About</a>
                        <a class="uppercase marginRight" href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="mobileNav">
            <div class="row">
                <img id="mobileNavLogo" class="navLogoImage" src="assets/images/navLogo.png" />
                <nav id="mobileNavBar" class="navbar navbar-light inline">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <span id="hamburgerMobile" class="fa-stack fa-2x">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-bars fa-stack-1x"></i>
</span>
                    </button>
                </nav>
            </div>
            <div class="row">
                <div class="collapse" id="exCollapsingNavbar">
                    <div id="nonCollapsedMenu" class="bg-inverse p-a-1">
                        <ul>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li></li>
                            <a href="#">Case Studies</a>
                            <li></li>
                            <a href="#">About</a>
                            <li></li>
                            <a href="#">Contact</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>