<section class="project" id="playground">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">PLAYGROUND PROJECT</div>
                <div class="intro-project-heading">Lemlet Private Event Communication</div>
                <div class="intro-lead-in">Work we do in house, because we love development that much. </div>
                <div class="intro-lead-in">Lemlet is a private event management and communication  </div>
                <div class="intro-lead-in">tool. We made it especially for groups like your kids sports</div>
                <div class="intro-lead-in">teams, bachelor parties, pub crawls and other events</div>
                <div class="intro-lead-in">where it’s like trying to wrangle cats.</div>
                <a href="#services" class="btn btn-xl page-scroll">GO TO LEMLET ></a>
            </div>
        </div>
</section>