<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Here’s How We Can Help</h2>
                </div>
                <div class="col-md-9 col-md-offset-2 text-center">
                    <h3 class="section-subheading text-muted">Our goal is to create new and improve existing applications to help businesses do their job better and increase the value of their products to the end-user. Here are some of the ways we help do this:</h3>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom:25px;">
                <div class="col-md-3 col-md-offset-1">
                    <span>
                        <img src="img/icon-tech-assessment.png" />
                    </span>
                    <h4 class="service-heading">Technology Assessments &amp; Strategy</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consec
                        tetuer adipiscing elit, sed diam nonum
                        my nibh euismod tincidunt ut laoreet 
                    </p>
                    <a class="more-info">see an example></a>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <span>
                        <img src="img/icon-rapid-prototyping.png" />
                    </span>
                    <h4 class="service-heading">Rapid Prototyping</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consec
                        tetuer adipiscing elit, sed diam nonum
                        my nibh euismod tincidunt ut laoreet 
                    </p>
                    <a class="more-info">see an example></a>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <span>
                        <img src="img/icon-ecommerce.png" />
                    </span>
                    <h4 class="service-heading">E-Commerce Solutions</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consec
                        tetuer adipiscing elit, sed diam nonum
                        my nibh euismod tincidunt ut laoreet 
                    </p>
                    <a class="more-info">see an example></a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-md-offset-1">
                    <span>
                        <img src="img/icon-social-media.png" />
                    </span>
                    <h4 class="service-heading">Social Media Solutions &amp; Integrations</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consec
                        tetuer adipiscing elit, sed diam nonum
                        my nibh euismod tincidunt ut laoreet 
                    </p>
                    <a class="more-info">see an example></a>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <span>
                        <img src="img/icon-custom-cloud.png" />
                    </span>
                    <h4 class="service-heading">Custom Cloud Architecture</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consec
                        tetuer adipiscing elit, sed diam nonum
                        my nibh euismod tincidunt ut laoreet 
                    </p>
                    <a class="more-info">see an example></a>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <span>
                        <img src="img/icon-mobile-software.png" />
                    </span>
                    <h4 class="service-heading">Mobile Software</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consec
                        tetuer adipiscing elit, sed diam nonum
                        my nibh euismod tincidunt ut laoreet 
                    </p>
                    <a class="more-info">see an example></a>
                </div>
            </div>
        </div>
    </section>
    <section class="project" id="recent">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">RECENT PROJECT</div>
                <div class="intro-project-heading">Example Project Title</div>
                <div class="intro-lead-in">Mobile Software, Rapid Prototyping, Design</div>
                <a href="#services" class="btn btn-xl page-scroll">VIEW CASE STUDY</a>
            </div>
        </div>
    </section>