<div class="sectionbuttons">
  <a class="downloadbutton hideSectionorElement" href="https://itunes.apple.com/us/app/seesaw-labs-rockstarvr-experience/id1203920407?mt=8">
    <img src="{{site.baseurl}}/assets/images/appStore@2x.png" alt="Download on the App Store" class="imgAppStore"/>
  </a>
  <a class="downloadbutton" href="https://play.google.com/store/apps/details?id=com.seesawlabs.rockstar">
    <img src="{{site.baseurl}}/assets/images/playStore@2x.png" alt="Get it on Google Play" class="imgPlayStore"/>
  </a>
  <a class="btn btn-secondary-outline btn-play-browser" href="#">Play in Browser</a>
</div>
