@import "../node_modules/bootstrap/scss/bootstrap.scss";
//Variables
//Colors from top to bottom on styleguide document 
$color1: #6cb7d7;
$color2: #39687b;
$color3: #d54e30;
$color4: #929d68;
$color5: #e8b826;
$color6: #d58242;
$color7: #3b2314;
$color8: #4d4d4d;
//Fonts
$h1Font: openSansLight;
$h1FontSize: 31px;
$h2Font: openSansLight;
$h2FontSize: 22px;
$h3Font: openSansBold;
$h3FontSize: 18px;
$h4Font: openSansRegular;
$h4FontSize: 17px;
$h5Font: openSansItalic;
$h5FontSize: 17px;
$bodyFont: robotoRegular;
$bodyFontSize: 14px;
$navPaddingTop: 2em;
@font-face {
    font-family: 'openSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansBoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/openSanExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansLightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansItalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoItalic';
    src: url('Roboto-Italic-webfont.eot');
    src: url('Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Italic-webfont.woff') format('woff'), url('Roboto-Italic-webfont.ttf') format('truetype'), url('Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

#heresHowWeCanHelpBorder {
    border-bottom: 3px dotted #39687b;
    margin-top: 0;
}

#featuredCaseStudyBorder {
    border-bottom: 3px dotted #fff;
}

.uppercase {
    text-transform: uppercase;
}

.marginRight {
    margin-right: 1.5em;
}

.navLogoDiv {
    z-index: 999;
}

.row {
    margin: 0;
}

.navLogoImage {
    padding-top: 0.5em;
    height: 120px;
}

.colorWhite {
    color: #fff;
}

//Start Featured Cases Section
#homeFeaturedCaseStudy {
    font-family: openSansBold;
    font-size: 14px;
    color: #fff;
    position: relative;
    top: 5em;
}

#featuredCaseStudyBorder {
    width: 90%;
}

#featuredCaseStudyH5 {
    font-size: 10pt;
}

#featuredCaseStudyH2 {
    margin-top: 3.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 24px;
}

#featuredCaseStudyDiv {
    height: 531px;
    text-align: center;
    background-image: url('../images/featuredCaseStudyBackground.png');
    background-position: 60% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#featuredCaseParagraph {
    border: 2px solid white;
    width: 200px;
    height: 9%;
    margin-top: 3em;
    text-align: center;
    margin-left: 1em;
    margin-left: 20%;
}

#featuredCaseButton {
    border-color: none;
    border: none;
    width: 100%;
    height: 100%;
}

#featuredCaseButton:hover {
    color: #fff;
}

#featuredCaseButtonParagraph {
    position: relative;
    top: 0.2em;
    font-family: openSansBold;
}

//End Feature Cases Section 
//Start Playground Section
#homePlayGroundProject {
    font-family: openSansBold;
    font-size: 16px;
    color: #fff;
    position: relative;
    top: 5em;
}

#playgroundProjectBorder {
    width: 90%;
    border: 1px dotted white;
}

#playgroundProjectH5 {
    font-size: 12pt;
    font-family: openSansItalic;
}

#playgroundProjectH1 {
    margin-top: 3.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 31px;
    color: #fff;
}

#playgroundProjectDiv {
    height: 700px;
    text-align: center;
    background-image: url('../images/playgroundProjectBackground.png');
    background-position: 40% 50%;
    background-size: cover;
    background-attachment: fixed;
}

#playgroundProjectParagraph1 {
    font-family: openSansRegular;
    font-size: 17px;
}

#playgroundProjectParagraph2 {
    border: 2px solid white;
    width: 90%;
    height: 6%;
    margin-top: 3em;
    text-align: center;
    margin-left: 1em;
}

#playgroundProjectButton {
    border-color: none;
    border: none;
}

#playgroundProjectButtonParagraph {
    position: relative;
    top: 0.2em;
    font-family: openSansBold;
}

//End Playground Project Section 
//Start Want To Work With Us Section 
#wantToWorkWithUs {
    background-color: #E8B826;
    font-family: openSansBold;
    font-size: 14px;
    color: #fff;
    position: relative;
    text-align: center;
    height: 360px
}

#wantToWorkWithUsImage {
    position: relative;
    top: 2em;
}

#wantToWorkWithUsParagraph1 {
    font-family: openSansLight;
    font-size: 24px;
        margin: 2em 1em 2em;
    text-align: left;
}

#wantToWorkWithUsParagraph2 {
    border: 3px solid white;
     width: 180px;
    height: 17%;
    text-align: center;
    margin-left: 5em;
    position: relative;
    top: -1em;
}

#wantToWorkWithUsButton {
    border-color: none;
    border: none;
    height: 100%;
    width: 100%;
}

#wantToWorkWithUsButtonParagraph {
    position: relative;
    top: 0.5em;
    font-family: openSansBold;
}
 
//End wantToWorkWithUsSection 
//Start Footer 
#footer {
    height: 200px;
    text-align: center;
    padding-top: 2em;
    background-color: #fff;
}


.robotoRegular {
    font-family: robotoRegular;
    font-size: 14px;
}

#footerEmail  {


    a {
    color: $color3;
      }
}

#footerEmailLarge {

    a {
    color: $color3;
      }
}

#footerEmailRow {
    margin-top: 2em;
}

#footerCopyRight {
    color: #231f20;
    font-size: 14pt;
}

#largeFooterCopyRight{
    color: #231f20;
}

#socialMediaBar {
    position: relative;
    top: 1em;
}

#facebookIcon {
    margin-left: 2em;
    margin-right: 2em;
}

.socialMediaIcon {
}

#socialMediaBar img {
    height: 60px;

}

#largeSocialMediaBar img {
    height: 35px;
    margin-left: 0;
    margin-right: 1em;
}


//Style Guide Section 
.styleGuideH1 {
    font-family: openSansLight;
    font-size: 31px;
}

.styleGuideH2 {
    font-family: openSansLight;
    font-size: 25px;
}

.styleGuideH3 {
    font-family: openSansBold;
    font-size: 18pt; 
}

.styleGuideH5 {
    font-family: openSansItalic;
    font-size: 17px;
}

.styleGuideP {
    font-family: robotoRegular;
    size: 14pt; 
}

//End Style Guide Section
//Start Happy Clients Section 
#happyClientsDiv {
    text-align: center;
}

.marginTop1Em {
    margin-top: 1em;
}

#playgroundProjectDivBackground {
    background-image: url('../images/')
}

#happyClientsBorder {
    border: 1px dashed $color2;
    width: 60%;
    margin-top: 0;
}

#happyClientsParagraph {
    font-family: openSansItalic;
    font-size: 14px;
    color: $color2;
    margin: 0.4em;
    margin-bottom: 2em;
}

.imgFiller {
    height: 100px;
    margin: 0.2em;
    margin-bottom: 2em;
}

.inlineBlock {
    display: inline-block;
}

#hamburgerMobile {
    color: $color3;
}

#mobileNavBar {
    width: 50%; 
    display: inline;
    position: relative;
    top: 0.7em;
    left: 1.1em;
}


.exploreCaseStudiesLink {
    color: #fff;
    font-family: openSansBold;
    font-size: 12pt;
    button {
        text-transform: uppercase;
    }
}

#exploreCaseStudiesButton {
    border-radius: 0;
}


#happyClientsDiv {
    padding-bottom: 1em;
    padding-top: 2em;
}

#mobileNavLogo {
    position: relative;
    left: 1.5em;
    z-index: 999;
    width: 55%;
}

.navBarLinks {
    padding-top: $navPaddingTop;
    padding-bottom: 2em;
    padding-right: 6em;
}

#footerEmailLarge {
        position: relative;
    top: -2.4em;
}

.navbar-nav {
    a {
        color: $color2;
        font-family: 'openSansBold';
        font-size: $h3FontSize;
    }
    a:hover {
        color: $color3;
        text-decoration: none;
    }
}

a:hover{
    text-decoration: none;
    color: #fff; 
}

.mobileNav {
    display: inline;
}





//Case Study Section Starts 



.marginLeft {
    margin-left: 12.3%;
}



#nonCollapsedMenu .caseStudiesCaseStudiesLink {
    color: $color3;
}

#desktopNavLinks  .caseStudiesCaseStudiesLink {
    color: $color3; 
}

#tabletNavLinks .caseStudiesCaseStudiesLink {
    color: $color3;
}


.caseStudyDiv {
    background-attachment: fixed;
    height: 531px;
     background-image: url("../images/caseStudiesBackgroundColor.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.caseStudyDiv1 {
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.caseStudyDiv2 {
            background-image: url("../images/caseStudiesBackgroundDark2.png");
            margin-top: 1em;
}

.caseStudyDiv3{

   margin-top: 1em;
      background-image: url("../images/caseStudiesBackgroundDark.png");

}



.fullColorBackground {
    background-color: #929D68;
}

.caseStudyH2 {
    position: relative;
    font-size: 31px;
}

.caseStudyBorder {
        display: inline-block;
    position: relative;
        border-bottom: 3px dotted #fff;
}

.caseStudyH5{
    font-size: 17px;
    position: relative;
}

.caseStudyParagraph1 {

        font-family: robotoRegular;
    font-size: 14pt;
    position: relative;
}

.caseStudyParagraph2 {
 font-family: robotoRegular;
 font-size: 14pt; 
 text-align: center;

}

.caseStudyButton {
        border: none;
    width: 100%;
    height: 100%;
        border: 2px solid #fff;


}

.caseStudyButtonParagraph {

    position: relative;
    font-family: openSansBold;
}


//Case Study Section Ends

//View Projects Section Starts 

.vSection1Link2{
        margin-right: 1em;
}

.vSection1Link3 {
    display: none;
}

.vSection1Link5 {
    display: none; 
}

.vSection1Link1 {
    color: #fff;
    font-family: openSansBold;
    font-size: 12pt;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}


.vSection1 {
    padding-top: 1em;
    background-color: #6CB7D7;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);

}

.vAllProjectsDiv, .projectNavigation {
    display: inline-block; 
}

.vSection1Link:hover{
    color: $color3;
}

.vSection2Image{
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
        margin-left: 1em;
    margin-right: 0.4em;
}

.vSection3H1Header{
    font-size: 31pt;
    color: $color2; 
}

.vSection3Border {
    border: 3px dotted #39687b;
    border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    width: 94%;
    margin-top: 0;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 1.5em;
}

.vSection3 {
    padding-left: 1.5em;

.vSection3Paragraph2 {
    padding-left: 0;
}

}

.vSection3Image {
    margin-right: 1.5em;
}

.vSection3Paragraph {
    color: $color8;
    margin-bottom: 2em;
}

.vSectionUl {
    padding-left: 1em;
}


.vSection3H3Header {
    color: $color2;
    margin-top: 1.5em;
}

.vSection3H3Header1, .vSection3H3Header3 {
    margin-bottom: 1em;
}

.vSectionUl2{
    padding-left: 1em;
    margin-bottom: 2em;
    padding-right: 1em;
}


.vSection3Paragraph3 {
    margin-top: 1em;
}

.vSection3Paragraph5 {
    font-family: robotoItalic; 
    font-size: 15pt;
    color: $color8;
}

.vSection3Paragraph6{
    padding-left: 3em;
    padding-right: 3em;
}

.vSection3Border5 {
    margin-left: 1em;
}


.vSectionButtonLink1 {
        color: #d54e30;
    border-radius: 0;
    border: 2px solid #d54e30;
    font-family: openSansBold;
    font-size: 12pt;
    width: 250px;
    margin-bottom: 3em;
    margin-left: 3em;
}
//View Projects Section Ends




//Contact Page 


#nonCollapsedMenu .contactContactLink {
    color: $color3;
}

#desktopNavLinks  .contactContactLink {
    color: $color3; 
}

#tabletNavLinks .contactContactLink {
    color: $color3;
}

#googleMap {
    height: 250px;
    width: 100%;
}


 
.locationInfo{
    background-color: #fff;
    display: inline-block;
    padding-top: 2em;
    text-align: center;
    width: 100%;
}

#contactPageDesktopNav {
    box-shadow: inset 0 -25px 12px -26px rgba(0,0,0,0.8);
}

.cSection1 {
    text-align: center;
    background-color: $color2;
    padding:2em;
    height: 400px;
}


.cSection1H1Header{
    color: #fff;
    margin-top: 1em;
    line-height: 1.3em;
}

.cSection1H3Header {
    color: #fff;
}

.cSectionParagraph {
    color: $color2; 
    font-family: openSansBold;
    font-size: 18pt;
}


.cSectionParagraph1 {
    color: $color3; 
    margin-top: 1em;
}

.cSectionParagraph2 {
    margin-bottom: 2em;
}

.cSectionParagraph2, .cSectionParagraph3 {
    color: $color2;
}

.cSectionParagraph3 {
    padding-left: 1em;
    padding-right: 1em;
}

.cSubmitButton {
    border-radius: 0;
    font-family: robotoBold;
    font-size: 15pt;
    color: #fff;
    border: 2px solid #fff;
}

.cSection2 {
    text-align: center;
    .contactForm {
            padding-top: 2em;
    margin-top: 2em;
    width: 100%;
    height: 520px;
    }
}

.contactForm {
    display: inline-block;
        background-color: $color5;
}

.contactFormInput {
    width: 90%;
    margin-left: 1em;
    border-radius: 0;
}

.contactFormTextStyle{
        color: #fff;
    font-family: openSansBold;
    font-size: 18pt;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.contactFormHelpMessage {
    font-size: 18px; 
}

.cSubmitButton {
        border: 3px solid#fff;
    width: 200px;
    font-family: openSansBold;
    font-size: 18pt;
}

#nonCollapsedMenu {
    background-color: $color1;
    text-align: center;
    ul {
        list-style: none;
        text-align: center;
        display: inline;
        padding: 0;
        margin: 0;
        li {
            margin: 0.5em;
        }
    }
    a {
        color: #fff;
        font-family: openSansBold;
        font-size: 18px;
    }
    a:hover {
        color: $color3;
        text-decoration: none;
    }
}

.homepageHelpBox {
    h1 {
        line-height: 2em;
        color: $color2;
        font-family: openSansLight;
        font-size: 2em;
        text-align: center;
        padding-top: 1em;
    }
    p {
        font-family: openSansRegular;
        font-size: 17px;
        color: $color8;
        text-align: center;
        padding-top: 1em;
    }
}



//Services Page

.sSection1BeforeImage {
    background-image: url('../images/servicesBeforeImage.png');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.sSection1 {
    background-color: $color2;
    text-align: center;
    padding: 2em;

}

.sSection2 {

        .callToAction {
        color: $color3;
        text-decoration: underline;
        margin-bottom: 2em;
        font-family: openSansBold;
        font-size: 14pt;
    }
}


.sSection2ContentDiv {
    margin-top: 6em;
}

.sSection2ContentDiv6 {
    padding-bottom: 2em;
}


.sSection1H3Header {
    color: #fff;
}

.sSection1H1Header {
    color: #fff;
    margin-top: 1em;

}

.sSection1Paragraph {
    color: #fff;
    font-family: openSansRegular;
    margin-top: 3em;
    font-size: 17pt;

}

.sSection2 {
    text-align: center;
}

.sSection2Paragraph {
  color: $color8;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


.sSection2ImageDiv {
    margin-bottom: 2em; 
}

.sSection2H3Header {
    color: $color2;
        padding-left: 1em;
    padding-right: 1em;
}

#nonCollapsedMenu .serviceServicesLink {
    color: $color3;
}

#desktopNavLinks .serviceServicesLink {
    color: $color3; 
}

#tabletNavLinks .serviceServicesLink {
    color: $color3;
}

//About Page




#nonCollapsedMenu .aboutAboutLink {
    color: $color3;
}

#desktopNavLinks  .aboutAboutLink {
    color: $color3; 
}

#tabletNavLinks .aboutAboutLink {
    color: $color3;
}



.desktopImages {
    display: none;
}
.section1 {
    background-color: $color2;
    text-align: center;
    height: 800px;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);

}


.section1H1HeaderDesktop {
    display: none; 
}

.section1H3Header {
    color: #fff;
    font-family: openSansBold;
    font-size: 18px;
    padding-top: 1.5em;
}

.section1H1Header {
    color: #fff;
}

.section1HeaderContainer {
    padding-top: 0.5em;
}

.section1Paragraph {
    color: #fff;
    padding: 1em;
    font-family: robotoRegular;
    font-size: 18px;
}

.section1Paragraph2 {
  padding-top: 0;
  padding-bottom: 0;
}


.section1Paragraph1 {
 padding-top: 1em;
 padding-left: 1em;
 padding-right: 1em; 
}

.section1Paragraph3 {
padding-left: 1em;
padding-right: 1em;
padding-bottom: 0;
}

.section2 {
    text-align: center;

     p {
        color: #4d4d4d;
        padding-left: 0.5em;
        padding-right: 0.5em;
     }
}

.section2Image {
    padding: 2em;
    padding-top: 5em;
}


.section2H2Header {
    color: $color2;
}

.section2H3Header {
    color: $color4;
    font-family: openSansBold;
    font-size: 18px;
    padding-top: 1.5em;
    text-align: center;
}


.section2Desktop {
    display: none;
}

.section3 {
    text-align: center;
}

.section3Column {
   padding-bottom: 3em;
}


.section3H2Header{
    color: $color2;
}

.section3H5Header {
    color: $color4;
}

.section3H3Header{
        color: $color4;
        font-family: openSansBold;
    font-size: 18pt;
    padding-top: 1.5em;

}

.section3H1Header {
    color: $color2;
        padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.section3Image {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 150px;
    width: 150px;
    border-radius: 5em;
}

.section3Paragraph {
    font-family: robotoRegular;
    font-size: 14pt;
    padding-left: 2em;
    padding-right: 1em;
    text-align: left;
}

.section3Hr {
        border: 2px dotted #39687b;
    width: 85%;
}

.section3SocialMedia {
    text-align: left;
    padding-left: 2em;
    padding-top: 0.5em;
        img {
            padding-left: 0.5em;
            padding-right: 0.5em;
            height: 25px;
        }
}


.section4 {
    text-align: center;
    background-color: #e6e6e6;
}

.section4H1Header{
    padding-top: 1em;
    color: $color2;
        padding-left: 0.2em;
    padding-right: 0.2em;
}

.section4H2Header {
   text-align: left;
    padding-left: 1em;
    padding-top: 2em;
    font-size: 25pt;
    color: #39687b;
}

    .section4H2Header:before {
          content: " ";
    display: block;
    background-image: url("../images/playgroundProjectMobile.png");
    height: 150px;
    width: 270px;
    background-size: cover;
    margin-bottom: 1em;
    }



.section4H3Header {
    color: $color4;
    padding-top: 3em;
}

.section4H5Header {
    color: $color2;
}

.section4Paragraph {
    margin-top: 1em;
    color: #4d4d4d;
}

.section4Paragraph1 {

        font-family: openSansItalic;
    font-size: 17px;
    display: inline-block;
}

.section4Paragraph1.5 {
    display: inline-block;
}

.section4Paragraph2, .section4Paragraph3 {
   text-align: left;
}

.section4ParagraphContainer {
    padding-left: 2em;
    text-align: left;
}

.section4ButtonDiv {
    text-align: left;
        padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.section4Button {
        color: #d54e30;
    border-color: #d54e30;
    border-radius: 0;
    border: 2px solid #d54e30;
    font-family: openSansBold;
    font-size: 15px;
}


.section4Button:hover {
            color: #fff;
    background-color: #d54e30;
}



#tabletNavLinks .aboutAboutLink {
    color: #d54e30;
}

#desktopNavLinks .aboutAboutLink {
    color: #d54e30;
}


//End About Page

.sSection2Border {
        border: 1px dotted #39687b;
    border-width: 5px;
    -moz-border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    -webkit-border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    -webkit-border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    -o-border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat !important;
    width: 95%;
    margin-top: 2em;
}


#happyClientsDiv {

    h1 {
        color: $color2;
    }
}

#happyClientsParagraph {
    color: $color8;
    font-size: 17pt;
}

#happyClientsBorder {
    width: 20%;
}

#homepageServiceBoxContainer {
    text-align: center;
    h3 {
        font-family: openSansBold;
        font-size: 18pt;
        color: $color2;
        text-align: center;
        padding-bottom: 1em;
    }
    p {
        font-family: robotoRegular;
        size: 14pt;
        text-align: center;
        color: $color8;
    }
    a {
        color: $color3;
        font-family: openSansBold;
        font-size: 14px;
    }
    .serviceImage {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .serviceImageDiv {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .callToAction {
        text-align: center;
        padding-bottom: 2em;
        text-decoration: underline;
    }
}



#mainSiteContainer {
    padding: 0;
}

#homepageHeroContainer {
    background-image: url("../images/homepageHero.png");
    min-height: 100%;
    height: 320px;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: 100% 20%;
}

#homepageHeroText {
    padding-top: 2em;
}

.homepageHero {
    padding: 0 !important;
    p {
        color: #fff;
        font-family: openSansLight;
        font-size: 17px;
        display: inline-block;
        text-align: center;
    }
}

#desktopNav {
    display: none;
}

#exploreCaseStudiesRow {
    width: 85%;
}

#exploreCaseStudies {
    span {
        font-family: openSansBold;
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
    }
    button {
        border: 2px solid white;
        padding: 0.5em;
        width: 100%
    }
}

#largeClientImages {
    display: none;
    text-align: center;
}

#largeClientImagesRow1 {
    display: inline-block;
    margin-left: 5em;
}

#largeClientImagesRow2 {
    margin-left: 15em;
}

.largeClientImage {
    margin: 0.5em;
}

#serviceImagesBottomRow {
    padding-bottom: 4em;
}

#playgroundProjectButton {
    width: 100%;
    height: 100%;
}


   #largeSocialMediaBar, #largeFooterEmail, #largeFooterCopyrightRow {
    display: none;
   }

//Media Queries
@include media-breakpoint-up(xs) {

    .section1 {
        height: 700px;
    }

    .navLogoImage{
        padding-top: 2em;
        height: inherit;
    }

    #socialMediaBar img {
    height: 25px;
}
.projectNavigation {  
  padding-left: 2em;
}

    .section4H1Header {
        padding-left: .5em;
        padding-right: .5em;
    }
    
    .section4Paragraph15 {
        padding-left: 1em;
        padding-right: 1em;
    }

    .section4Paragraph1 {
        padding-left: 1em;
        padding-right: 1em;
    }
     
    .caseStudyH2 {
    font-size: 24px;
    padding-top: 2em;
    margin-left: 0;
    margin-right: 0;
    }

    .fullColorBackground {
        background-color: inline;
        text-align: center;
    }

    .caseStudyBorder {
            width: 93%;
    padding-left: 0;
    margin-left: 0;
    }

    .caseStudyH5 {
        font-size: 12pt;
        margin-left: 0;
    }
    .caseStudyParagraph2 {
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 5em;
}

        .caseStudyParagraph1 {
        padding-top: 2em;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 0;
    }

    .caseStudyButtonParagraph {
    position: relative;
    top: .2em;
}
    #playgroundProjectParagraph1 {
        padding-top: 2em;
        padding-left: 5%;
        padding-right: 5%;
    }
    #playgroundProjectParagraph2 {
        margin-left: 17%;
        width: 230px;
    }
    #heresHowWeCanHelpBorder {
        width: 100%;
    }
    #tabletNavLinks {
        display: none;
    }
    #tabletNavLogo {
        display: none;
    }
    #desktopNavLinks {
        display: none;
    }
    #desktopNavLogo {
        display: none;
    }
    #exploreCaseStudies {
        p {
            margin-top: 0;
        }
    }
    #exploreCaseStudiesRow {
        text-align: center;
        display: inline;
    }
    #homepageHeroText {
        p {
            margin-left: 0.7em;
            margin-right: 0.5em;
        }
    }
}

@media all and (min-width:24.375em) {

       .projectNavigation {  
  padding-left: 7em;
}

#socialMediaBar img {
    height: 35px;
}

#facebookIcon > a > img {
    height: 30px;
}

}

@media all and (min-width:26.875em) {
           .projectNavigation {  
  padding-left: 39%;
}

}

@media all and (min-width:24.375em) and (max-width: 33.75em) {



    #playgroundProjectParagraph2 {
        margin-left: 19%;
        width: 250px;
        margin-right: 0;
        text-align: center;
    }
    #featuredCaseParagraph {
        margin-left: 27%;
    }
       .caseStudyParagraph2 {
        margin-left: 27%;
    }
    #homepageHeroText {
        p {
            font-size: 18px;
            margin-left: 1em;
            margin-right: 1em;
        }
    }
    #exploreCaseStudies {
        p {
            margin-top: 2em;
        }
    }


       #wantToWorkWithUsParagraph1 {
     padding-left: 0;
     text-align: center;
   }
   #wantToWorkWithUsParagraph2 {
         margin-left: 30%;
   }
}

@media all and (min-width: 28.125em) and (max-width: 33.6875em) {


    #featuredCaseParagraph {
        margin-left: 29%;
    }
    .caseStudyParagraph2 {
        margin-left: 29%;
    }
    #mobileNavBar {
        left: 3em;
    }
    #heresHowWeCanHelpBorder {
        width: 60%;
    }
}

 @media all and (min-width: 34em){


    .vSection3Image {
        margin-right: 3em;
    }

.vSection1Link2 {
    margin-right: 1.5em;
}

       .projectNavigation {  
  padding-left: 16em;
}



    .cSection1 {
    height: 320px;
}
.contactForm {
  padding-left: 1.5em;
}


  .contactFormButtonDiv{
    padding-right: 1.5em;
  }



.section4H2Header:before {
    content: " ";
    display: block;
    background-image: url("../images/playgroundProjectMobile.png");
    height: 150px;
    width: 200px;
    background-size: cover;
    margin-bottom: 1em;
}

    #facebookIcon {
        margin-left: 0;
        margin-right: 0;
    }

    #socialMediaBar{
        padding-left: 20%;
        padding-right: 20%;
        top: 0;
    }

    #footerEmail{
        margin-top: 2em;
    }

   #wantToWorkWithUsParagraph2 {
         margin-left: 34%;
   }

   #wantToWorkWithUsParagraph1 {
     margin-right: 0;
     text-align: center;
     padding-left: 0;
   }

    #playgroundProjectParagraph2 {
        margin-left: 25%;
        width: 250px;
    }
    #featuredCaseParagraph {
        margin-left: 31%;
    }

       .caseStudyParagraph2 {
        margin-left: 31%;
    }
    #homepageHeroText {
        p {
            font-size: 18px;
        }
    }
    #exploreCaseStudiesRow {}
    #exploreCaseStudies {
        p {
            margin-top: 2em;
        }
        button {
            width: 50%;
        }
    }
    #mobileNavBar {
        left: 6em;
    }
    #mobileNavLogo {
        left: 4em;
    }
}

@media all and (min-width: 34.0625em) {
        .section1 {
        height: 640px;
    }


}

@media all and (min-width: 34.0625em) and (max-width: 40.624em) {


    #playgroundProjectParagraph2 {
        margin-left: 30%;
        width: 250px;
    }
    #mobileClientImages {
        padding: 0 15%;
    }


   #wantToWorkWithUsParagraph2 {
         margin-left: 35%;
   }
}

@media all and (min-width: 40em) {
    .projectNavigation {
        padding-left: 55%;
     }
}

@media all and (min-width: 40.625em) {

 .cSection1 {
    height: 250px;
 }

           .section1 {
        height: 620px;
    }
    #playgroundProjectParagraph2 {
        margin-left: 34%;
        width: 250px;
    }
    #mobileClientImages {
        padding: 0 20%;
    }
       #wantToWorkWithUsParagraph2 {
         margin-left: 36%;
   }
}

@media all and (min-width: 36.875em) and (max-width: 43.6875em) {

    #featuredCaseParagraph {
        margin-left: 33%;
    }
       .caseStudyParagraph2 {
        margin-left: 33%;
    }
}

@media all and (min-width: 43.876em) and (max-width: 47.9375em) {

       #wantToWorkWithUsParagraph2 {
         margin-left: 37%;
   }
    #playgroundProjectParagraph2 {
        margin-left: 34%;
        width: 250px;
    }
    #featuredCaseParagraph {
        margin-left: 35%;
    }
        .caseStudyParagraph2 {
        margin-left: 35%;
    }
}


@media all and (min-width: 45em) {
    .section4H2Header:before {
    height: 200px;
    width: 300px;
}
}

@media all and (min-width: 48em) {

.projectNavigation {
    padding-left: 65%;
}

  .cSection2 {
    margin-left: 1em;
    margin-right: 1em;
  }


    .section1 {
    height: 450px; 
    padding-left: 0.3em;
    padding-right: 0.3em; 
}

.section1H1Header {
    font-size: 24px;
}

.section1HeaderContainer {
    padding-top: 2em;
}

    .section1HeaderContainer .section1MobileHeader {
        display: none; 
    }

    .section1H1HeaderDesktop {
        display: inline; 
    }

       #wantToWorkWithUsParagraph2 {
         margin-left: 41%;
   }
    #playgroundProjectParagraph2 {
        margin-left: 37%;
        width: 250px;
    }
    #featuredCaseParagraph {
        margin-left: 38%;
    }

    .caseStudyParagraph2 {
        margin-left: 38%;
    }
    .homepageHelpBox p {
        margin-bottom: 2em;
    }
    #heresHowWeCanHelpBorder {
        width: 40%;
    }
    #exploreCaseStudies {
        button {
            width: 50%;
        }
    }
    .navbar-toggler {
        padding-bottom: 2em;
    }
    #tabletNavLinks {
        display: inline;
        position: relative;
        top: 2em;
        padding: 0;
    }
    #tabletNavLogo {
        display: inline;
        position: relative;
        top: 1em;
    }
    #desktopNavLinks {
        display: none;
    }
    #desktopNavLogo {
        display: none;
    }
    #desktopNav {
        display: inline;
    }
    .mobileNav {
        display: none;
    }
    .homepageHero {
        p {
            font-size: 18px;
            width: 70%;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    #homepageHeroText {
        p {
            margin-left: 7em;
        }
    }
}

@media all and (min-width: 62em) {



        .navLogoImage{
            padding-top: 0.5em;
        height: 100px;
    }


  .vSection3 {
    width: 50%;
  }

  .vSection3Border5{
    width: 47%;
  }

  .vSection3H1Header1 {
    text-align: left;
    padding-top: 1em;
  }

  .vSection3Paragraph6{
    width: 50%;
  }


    .vSection2 {
            width: 50%;
    float: right;
    padding-left: 3em;
    margin-top: 2em;
    padding-bottom: 2em;
    }

    .vSection2Image {
    width: 90%;
}

.vSection1Link2 {
    margin-right: 0.3em;
}


.vSection1Link3 {
    display: inline;

    color: #fff;
    font-family: openSansBold;
    font-size: 12pt;
    margin-right: 2em;
}

.vSection1Link4 {

    margin-left: 0.3em;
}

.vSection1Link5 {
    display: inline;

    color: #fff;
    font-family: openSansBold;
    font-size: 12pt;

}

.vAllProjectsDiv {
    padding-left: 10%;
}

    .projectNavigation {
    padding-left: 14em;
}


#footerEmail{
    margin-top: 0;
}
.sSection2ContentDiv {
    margin-top: 4em;
    margin-bottom: 4em;
}
.sSection2ImageDiv {
  
  float: left;
  margin-left: 1.2em;
  margin-right: 2em;
}

.sSection2Border {
    border-width: 5px;
    -moz-border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    -webkit-border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    _border: 2px solid $color2;
    border-image: url("../images/dottedBorderSingle.jpg") 0 0 5 0 repeat;
    width: 95%;
    margin-top: 2em;
}


.sSection2 {

     text-align: inline; 

    .callToAction {
        margin-left: 7.6em;
    }
}

.section4H2Header:before {
    height: 200px;
    width: 400px;
}



.desktopImages {
    display: inline;
}

.aboutDesktopImage1 {
    background-image: url('../images/aboutImage1.png');
    height: 200px;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);



}

.aboutDesktopImage2 {
    background-image: url('../images/aboutImage2.png');
    height: 200px;
     background-position-y: -23px;
     box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);


}

.section1 {
    height: 530px;
}

.section1HeaderContainer {
    padding-top: 0;
}
.section1H1Header {
    font-size: 31pt;
}

.section1H1Header {
    padding-top: 3em;
}

.section1H3Header{
    padding-top: 3em;
}

.section1Paragraph {
    font-size: 14pt; 
}

.section1Paragraph1 {
    padding-top: 3em;
}


.section4Image {
    position: relative;
    right: 1.4em;
}

.caseStudyParagraph2 {

    margin-left: 31%;
    margin-top: 0;

}

.caseStudyDiv {
    padding-left: 3em;
    padding-top: 2em;
    background-attachment: fixed;
    height: 531px;
    background-position: 60% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    margin-top: 1em;
}

.caseStudyDiv2 {

    .fullColorBackground {
        background-color: initial;
    }
}

.caseStudyDiv3 {


    .fullColorBackground {
        background-color: rgba(#D54E30 ,0.8);
    }
}



.fullColorBackground {
    width: 550px;
    height: 390px;
    background-color: #929D68;
    padding-right: 3em;
}

.caseStudyH2 {
    bottom: 1em;
    font-size: 31px;
    margin-right: .1em;
    padding-top: 2em;
    margin-top: 0;

}

.caseStudyBorder {
        display: inline-block;
    width: 76%;
    margin-top: 0;
    bottom: 1.5em;
        border-bottom: 3px dotted #fff;
}

.caseStudyH5{
    font-size: 17px;
    position: relative;
    bottom: 2em;
}

.caseStudyParagraph1 {
        font-family: robotoRegular;
    font-size: 14pt;
        margin-left: 7% ;
            padding-top: 2em;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 2em;
}

.caseStudyParagraph2 {

 text-align: center;
border: 2px solid #fff;
    width: 200px;
    height: 11%;

}

.caseStudyButton {
    
    border: none;
    width: 100%;
    height: 100%;

}

.caseStudyButtonParagraph {

        position: relative;
    top: .2em;
    font-family: openSansBold;

}

   #footerEmailRow, #socialMediaBar, #footerCopyrightRow {
    display: none;
   }

      #largeSocialMediaBar, #largeFooterEmail, #largeFooterCopyrightRow {
    display: inline;
   }

   #largeFooterCopyright {
     position: relative;
     top: 0.5em;
   }
     
     #footer {
        height: 100px; 
        padding-bottom: 6em;
     }

     #largeSocialMediaBar {
        position: relative;
        top: 1em;
     }
    #wantToWorkWithUsParagraph2 {
        margin-left: 42%;
    }

    #homePlayGroundProject {
        margin-left: 8%;
        position: relative;
        top: 6em;
    }
    #playgroundProjectDiv {
        text-align: left;
                    background-attachment: fixed;
    }
    #homePlaygroundProject {
        margin-left: 8%;
    }
    #playgroundProjectH1 {
        margin-left: 8%;
    }
    #playgroundProjectBorder {
        margin-left: 8%;
        width: 43%;
    }
    #playgroundProjectH5 {
        margin-left: 8%;
    }
    #playgroundProjectParagraph1 {
        margin-left: 4%;
        padding-right: 55%;
    }
    #playgroundProjectParagraph2 {
        margin-left: 9%;
    }
    #homeFeaturedCaseStudy {
        font-size: 16px;
        top: 6em;
    }
    #featuredCaseStudyDiv {
        text-align: left;
    }
    #homeFeaturedCaseStudy {
        margin-left: 12.4%;
    }
    #featuredCaseParagraph,
    #featuredCaseStudyH5,
    #featuredCaseStudyBorder,
    #featuredCaseStudyH2 {
        margin-left: 12.3%;
    }
    #featuredCaseStudyBorder {
        display: inline-block;
        width: 39%;
    }
    #featuredCaseStudyH2 {
        font-size: 31px;
    }
    #featuredCaseStudyH5 {
        font-size: 17px;
    }
    .heresHowWeCanHelpParagraph {
        width: 70%;
        margin-left: 16%;
    }
    #mobileClientImages {
        display: none;
    }
    #largeClientImages {
        display: inline;
        padding-left: 1em;
    }
    .imgFiller {
        width: 140px;
    }
    #largeClientImagesRow1 {
        margin-left: -0.3em;
    }
    .largeClientImage {
        margin-right: 0.6em;
    }
    #largeClientImagesRow2 {
        margin-left: 9em;
    }
    #exploreCaseStudiesRow {
        text-align: center;
    }
    #homepageHeroContainer {
        height: 600px;
    }
    #homepageServiceBoxContainer {
        text-align: center;
    }
    #exploreCaseStudies {
        button {
            width: 50%;
        }
    }
    #homepageHeroText {
        padding-top: 8em;
        p {
            width: 75%;
            font-size: 31px !important;
            margin-left: 4em;
        }
    }
    .navbar-toggler {
        padding-bottom: 0;
    }
    #tabletNavLinks {
        display: none;
    }
    #tabletNavLogo {
        display: none;
    }
    #desktopNavLinks { 
        display: inline;
    }
    #desktopNavLogo {
        display: inline;
        position: relative;
        left: 4em;
    }
}

@media all and (min-width: 68.75em) {
    #largeClientImagesRow2 {
        padding-left: 80px;
    }
}

@media all and (min-width: 75em)  {


    #wantToWorkWithUs{
        clear: both;
    }
  
   .vSection3 {
    padding-left: 6em;
  }

    .vSection1Link1 {
        margin-left: 1em;
    }

    .projectNavigation {
            float: right;
    padding-left: 0;
    margin-right: 11em;
    }
   

   .vSectionButtonLink1{
    margin-left: 6em;
   }




    .vSection3Border5{
        margin-left: 6em;
        width: 43%;
    }

   .vSection3Paragraph6{
     padding-left: 6em;
   }


.locationInfo {

    width: 30%;
}

.cSection1H1Header {
    padding-left: 2em;
    padding-right: 2em;
}

.cSection2 {
    padding-bottom: 20em;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;

    .contactForm {
            padding-top: 2em;
    margin-top: 2em;
    width: 500px;
    height: 520px;
    background-color: #e8b826;
    margin-right: 5em;
    float: left;
    }
}


    #homepageHeroText{

        p {
            margin-left: 5em;
        }
    }

.sSection2ContentDiv {
        padding-left: 100px;
    padding-right: 100px;
}

.sSection2Border {
    width: 80%;
}

     .section2DesktopContentDiv1 {
    bottom: 1em;
    right: 5em;
     }

.section2DesktopContentDiv2 {
    right: 5em;
    top: 12em;
}

.section2DesktopContentDiv3 {
        top: 24em;
    right: 5em;
}

    .section2DesktopContentDiv4 {
    top: 10.5em;
    left: 5em;

    }

    .section2DesktopContentDiv5 {
         top: 20.5em;
         left: 5em;

    }


    .section2Mobile {
        display: none;
    }

  .section2Desktop {
    display: inline;
  }

  .section2DesktopColumn {
    margin-top: 4em;
  }

  .section2DesktopContentDivRight {
    text-align: left;
    position: relative;
  }

  .section2DesktopContentDivLeft {
    text-align: right; 
    position: relative;
  }

.section4H2Header:before {
            content: " ";
    display: block;
    background-image: url("../images/playgroundProjectDesktop.png");
    height: 300px;
    width: 530px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}


.section4Image {
    position: relative;
    right: 5.4em;
}

.section4Paragraph1 {
        padding-left: 1em;
        padding-right: 0;
    padding-top: 2em;
}


.section4Paragraph15 {
    padding-left: 0;
    padding-right: 0;
}

    .section3ContentDiv {
        display: inline-block;
    width: 400px;
    text-align: left;
    padding-top: 4em;
        }

   .section3Image {
    float: left;
    position: relative;
        margin-left: 0.7em;
   }

   .section3H2Header {
    padding-left: 1em;

   }

   .section3H3Header {
    padding-top: 8em;
   }

   .section3H5Header {
    position: relative;
    left: .4em;
    margin: 1em;
   }
 

.section3Paragraph {
      font-size: 14px;
}

    #largeClientImagesRow1 {
        margin-left: 4em;
    }
    #featuredCaseStudyBorder {
        width: 33%;
    }
    #largeClientImagesRow2 {
        padding-left: 9.375em;
    }
    #exploreCaseStudiesRow {
        text-align: center;
    }
    #exploreCaseStudies {
        button {
            width: 20%;
            margin: 0 auto;
        }
    }
    .homepageHero {
        p {
            width: 65%;
            margin-left: 8em;
        }
    }
}

@media all and (min-width: 78em) {
    .aboutDesktopImage2 {
        background-size: cover;
    }
}

@media all and (min-width: 81.25em) {
    #largeClientImagesRow2 {
        padding-left: 12em;
    }

    .cSection2{
        padding-right: 10em;
    }


}

@media all and (min-width: 85.9375em) {
    .section2DesktopContentDiv3{
        top: 26em;
    }
}

@media all and (min-width: 86.25em) {
    
   .section3ContentDiv {
    float: inline; 
    position: relative;
    right: 2em;
   }
}

@media all and (min-width: 87.5em) {
    #exploreCaseStudies {
        button {
            width: 50%;
        }
    }
}
@media all and (min-width: 87.55em) {

    #largeClientImagesRow2 {
        padding-left: 15em;
        padding-right: 6em;
    }
}

@media all and (min-width: 93.75em) {
    #largeClientImagesRow2 {
        padding-left: 17em;
        padding-right: 10em;
    }


.cSection2 {
        padding-left: 20em;

}

   .section3Column {
    padding-left: 4em;
   }

    #wantToWorkWithUsParagraph2 {
        margin-left: 45%;
    }

}


@media all and (min-width: 98.5em) {
    .section2DesktopContentDiv3 {
        top: 29em;
    }
}
@media all and (min-width: 100em) {

    .section3Column {
        padding-left: 8em;
    }
    
    #featuredCaseStudyBorder {
        width: 25%;
    }
    #largeClientImagesRow2 {
        padding-left: 20em;
        padding-right: 10em;
    }
}

@media all and (min-width: 101.85em) {
    #homepageHeroText {
        p {
            margin-left: 7em;
        }
    }
}


@media all and (min-width:104.25em) {
    .section2DesktopDontentDiv5{
        top: 23.5em;
    }
}

@media all and (min-width: 106.25em) {
    #largeClientImagesRow2 {
        padding-left: 23em;
        padding-right: 16em;
    }
}

@media all and (min-width: 111.25em) {
    #largeClientImagesRow2 {
        padding-left: 25em;
        padding-right: 18em;
    }
}
