@import
  '../node_modules/bootstrap/scss/bootstrap.scss';

@import
  'modules/_variables',
  'mixins/_mixins',
  'mixins/_media',
  'modules/_navbar',
  'modules/_general',
  'modules/_footer';


/* Pages */
@import
  'pages/_connect',
  'pages/_contact',
  'pages/_crew',
  'pages/_home',
  'pages/_process',
  'pages/_work';

#hero{
  padding-top: 60px;
  .headercontainer{
    padding-top: 57px;
  }
  h1{
    text-transform: uppercase;
    @include fontSans(23px, normal, 800);
    letter-spacing: 0.5px;
    margin-bottom: 6px;
  }
  h3{
    @include fontBaskerville(18px, italic, normal);
  }
}


#lemletLab{
  img{width: 50%;}
}
