@import
  '../node_modules/bootstrap/scss/bootstrap.scss';


@import
  'modules/_variables',
  'mixins/_mixins',
  'mixins/_media',
  'modules/_navbar',
  'modules/_general',
  'modules/_footer';

/* Pages */
@import
  'pages/_home',
  'pages/_work',
  'pages/_process',
  'pages/_crew',
  'pages/_connect';

  .mainbackground{
    background-image: url('../images/backgrounds/mobile_hero.jpg');
    background-size: cover;
    background-position: center;
    @include medium{
      background-image: url('../images/backgrounds/desktop_hero@2x.jpg');
    }
  }

  .ourworkbackground{
    background-image: url('../images/backgrounds/mobile_work_hero.jpg');
    background-size: cover;
    background-position: center;
    @include medium{
      background-image: url('../images/backgrounds/desktop_work_hero@2x.jpg');
    }
  }

  .ourcrewbackground{
    background-image: url('../images/backgrounds/mobile_crew_hero.jpg');
    background-size: cover;
    background-position: center;
    @include medium{
      background-image: url('../images/backgrounds/desktop_crew_hero@2x.jpg');
    }
  }

#hero{
  padding-top: 60px;
  height: 420px;
  .headercontainer{
    padding-top: 3.5em;
    padding-bottom: 2em;
    @include small{
      padding-top: 3.9em;
      padding-bottom: 3.3em;
    }
    @include medium{
      padding-top: $space2;
      padding-bottom: $space5;
    }

  }
  h1{
    text-transform: uppercase;
    @include fontSans(23px, normal, 800);
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    @include small{
      @include fontSans(36px, normal, 800);
    }
    @include medium{
      @include fontSans(70px, normal, 800);
      margin-bottom: 5.3px;
    }
  }
  h3{
    @include fontBaskerville(18px, italic, normal);
    @include small{
      @include fontBaskerville(26px, italic, normal);
    }
    @include medium{
      @include fontBaskerville(47px, italic, normal);
    }
  }
  p{
    padding-bottom: 1.2em;
    margin: 0 .63em;
    line-height: 17px;
    @include fontSans(14px, italic, 400);
    letter-spacing: 0;
    @include small{
      @include fontSans(18px, italic, 400);
      letter-spacing: 0;
      margin: 0 auto;
      max-width: 524px;
      line-height: 20px;
    }
    @include medium{
      padding-bottom: $space1;
      max-width: 950px;
      margin: 0 auto;
      line-height: 40px;
      @include fontSans(30px, italic, 400);
    }
  }
  .letsPlay{
    text-decoration: none;
    color: $colorWhite;
    img{
        height: 90px;
        margin-top: 0.7em;
    }
    span{
      display: block;
      top: -76px;
      position: relative;
      @include fontBaskerville(16px, italic, normal);
    }
  }
  @include small{
    height: 480px;
  }
  @include medium{
    padding-top: 100px;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    height: 900px;
  }
}

section.digital{
  background-image: url('../images/backgrounds/mobile_focus.jpg');
  background-size: cover;
  background-position: center;
  height: 538px;
  text-align: center;
  h2{
    @include fontSans(23px, normal, 800);
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 1.85em;
    @include small{
      @include fontSans(24px, normal, 800);
      letter-spacing: 1px;
      margin-bottom: 1.6em;
      letter-spacing: -1px;
    }
    @include medium{
      @include fontSans(46px, normal, 800);
      padding-top: $space6;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: $space7;
      text-align: center;
      letter-spacing: -1px;
    }
    @include large{
      @include fontSans(50px, normal, 800);
      letter-spacing: -1px;
    }
  }

  p{
    @include fontSans(14px, italic, 400);
    letter-spacing: 0;
    padding: .1em .65em .2em;
    margin-bottom: 1.2em;
    line-height: 17px;
    @include small{
      @include fontSans(12px, italic, 400);
      padding: .1em 3.7em .2em;
      letter-spacing: .5px;
      line-height: 16px;
    }
    @include medium{
      @include fontSans(24px, italic, 400);
      line-height: 27px;
      max-width: 512px;
      display: block;
      margin: .6em auto;
      padding: .1em .65em .6em;
      letter-spacing: 0;
    }
  }
  .btn-secondary-outline{
    position: relative;
    top: -20px;
  }

  .digital-execution{
    height: 269px;
    h2{
      padding-top: 2em;
      @include medium{
        padding-top: $space6;
      }
    }
  }
  .digital-innovtion{
    height: 269px;
    h2{
      @include small{
        padding-top: 2em;
      }
      @include medium{
        padding-top: 1.8em;
      }
    }
    @include small{
      height: 255px;
    }
    @include medium{
      height: 481px;
      padding-right: 0;
    }
  }

  .goBackstagetablet{
    text-decoration: none;
    color: $colorWhite;
    img{
      height: 77px;
      margin-top: 6.1em;
    }
    span{
      display: block;
      top: -58px;
      position: relative;
      line-height: 14px;
      @include fontBaskerville(10px, italic, normal);
    }
  }
  .col-md-5{
    width: 100%;
    @include small{
      width: 46%;
    }
    @include medium{
      width: 50%;
      padding-left: 0;
      padding-right: 0;
    }
    @include large{
      width: 50%;
    }
  }

  .col-md-2{
    width: 8%;
    padding-left: 0;
    padding-right: 0;
  }

  @include small{
    background-image: url('../images/backgrounds/desktop_focus@2x.jpg');
    height: 255px;
    background-position: 50%;
  }
  @include medium{
    background-image: url('../images/backgrounds/desktop_focus@2x.jpg');
    height: 481px;
    background-position: 50%;
  }
}

#middleMessage{
  height: 330px;
  background-color: #141414;
  .col-md-12{
    padding-left: 6px;
    padding-right: 6px;
  }
  p.txtmesssage{
    @include fontBaskerville(18px, italic, 400);
    letter-spacing: 0;
    margin: 0 .85em 1.2em;
    line-height: 24px;
    padding-top: 3.2em;
    @include small{
      @include fontBaskerville(16px, italic, nomal);
      padding-top: 1.2em;
      max-width: 500px;
      margin: 0 auto;
    }
    @include medium{
      max-width: 860px;
      margin: 0 auto;
      @include fontBaskerville(22px, italic, nomal);
      padding-top: $space8;
      letter-spacing: 0.85px;
      line-height: 32.9px;
    }
  }
  img{
    height: 64px;
    position: relative;
    left: 42px;
    top: 8px;
    @include small{
      height: 45px;
    }
    @include medium{
      height: 81px;
      margin-top: 2em;
      margin-left: 7.2em;
    }
  }
  div.messageSSL{

    div{
      display: inline-block;
    }

    .nameMessage{
      position: relative;
      top: 3px;
      left: 51px;
      @include fontBaskerville(22px, italic, normal);
      letter-spacing: 1px;
      @include small{
        @include fontBaskerville(12px, italic, normal);
        left: 39px;
      }
      @include medium{
        position: relative;
        top: 12px;
        left: 51px;
        @include fontBaskerville(24px, italic, normal);
      }
    }


    .positionMessage{
      position: relative;
      top: 20px;
      right: 73px;
      @include fontSans(13px, normal, normal)
      letter-spacing: 0;
      @include small{
        @include fontSans(9px, normal, normal)
        right: 34px;
      }
      @include medium{
        position: relative;
        right: 73px;
        top: 33px;
        left: -81px;
        @include fontSans(16px, normal, 800);
      }
    }
  }
  @include small{
    height: 193px;
  }
  @include medium{
    height: 357px;
    background-color: #000;
  }
}


#containersolutions{
  padding: 0;
  #solutions{

    overflow: scroll;
    h2{
        @include fontBaskerville(24px, italic, normal);
        padding-top: 2em;
        padding-bottom: 1.6em;
        @include small{
          @include fontBaskerville(19px, italic, nomal);
          padding-top: 3em;
        }
        @include medium{
          @include fontBaskerville(36px, italic, nomal);
          padding-top: $space9;
          padding-bottom: 1.9em;
        }
    }

    p{
      @include fontSans(14px, normal, 300);
      letter-spacing: 0px;
      max-width: 237px;
      margin: 0 auto;
      line-height: 16px;
      height: 40px;
      @include small{
        @include fontSans(11px, normal, 300);
        max-width: 140px;
      }
      @include medium{
        max-width: 243px;
        line-height: 22px;
        @include fontSans(18px, normal, 300);
        letter-spacing: 0px;
      }
    }

    .solutions1, .solutions2, .solutions3{
      float: left;
      width: 33.3%;
      height: 210px;
      padding-left: 0;
      padding-right: 0;
    }

    .solutions1{
      background-image: url('../images/backgrounds/desktop_otherServices_hover1@2x.jpg');
      background-size: cover;
      background-position: center;
      @include small{
        height: 192px;
      }
      @include medium{
        height: 361px;
        padding: 0;
        background-position: 100%;
        h2{
          text-align: center;
        }
        p{

        }
      }
    }

    .solutions2{
      background-image: url('../images/backgrounds/desktop_otherServices_hover2@2x.jpg');
      background-size: cover;
      background-position: center;
      @include small{
        height: 192px;
      }
      @include medium{
        height: 361px;
      }
    }

    .solutions3{
      background-image: url('../images/backgrounds/desktop_otherServices_hover3@2x.jpg');
      background-size: cover;
      background-position: center;
      @include small{
        height: 192px;
      }
      @include medium{
        height: 361px;
        padding: 0;
        background-position: 100%;
        h2{
          text-align: center;
        }
      }
    }

    @include small{
      .blackbackground{
        background-color: rgba(0,0,0,.65);
        background-size: cover;
        height: 192px;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
    @include medium{
      height: 361px;
      .blackbackground{
        height: 361px;
      }
    }
  }

  #buttons{
    position:absolute;
    z-index:5;
    left: 0;
    margin-top: 1.8em;
    padding: 0 1em;
    .fa-angle-right, .fa-angle-left{
      opacity: .5;
      cursor: pointer;
    }

    .fa-angle-right{
      float: right;
    }

    .fa-angle-left{
      float: left;
    }
  }

  #buttons  > div {
    position: relative;
    top:60px;
    left: -10px;
    width : 150px;
    height : 30px;
  }
}


.backgroungLink{
  background-image: url('../images/backgrounds/mobile_caseStudy_home.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  @include medium{
    background-image: url('../images/backgrounds/desktop_caseStudy_home@2x.jpg');
    background-position: 100%;
  }
}

.backgroungletLab{
  background-image: url('../images/backgrounds/mobile_labs_home.jpg');
  background-size: cover;
  background-position: center;
  @include medium{
    background-image: url('../images/backgrounds/desktop_labs_home@2x.jpg');
  }
}

#linkNYC, #lemletLab{
  height: 360px;
  text-align: left;
  h4{
    @include fontBaskerville(14px, italic, normal);
    padding-top: 3.1em;

    margin-bottom: 0;
    @include small{
      padding-top: 2.7em;
    }
    @include medium{
      @include fontBaskerville(25px, italic, normal);
      padding-top: 3.6em;
      margin-bottom: -7px;
      margin-right: -5px
    }
  }
  h2{
    @include fontSans(24px, normal, 800);
    padding-bottom: 1.1em;
    letter-spacing: 0px;
    @include small{
      letter-spacing: 1px;
      padding-bottom: 0;
      margin-bottom: 2px;
    }
    @include medium{
      @include fontSans(46px, normal, 800);
      padding-bottom: .2em;
      letter-spacing: 1px;
      margin-bottom: 8px;
    }
  }
  p{
    @include fontSans(14px, normal, 300);
    letter-spacing: 0px;
    padding-left: .35em;
    padding-right: 2em;
    line-height: 16px;
    @include small{
      @include fontSans(12px, normal, 300);
      letter-spacing: 0px;
      line-height: 16px;
    }
    @include medium{
      @include fontSans(18px, normal, 300);
      line-height: 23px;
      margin-bottom: 1.2em;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .btnBackstage{
    clear: both;
    text-align: center;
    display: block;
  }
  @include small{
    height: 192px;
  }
  @include medium{
    height: 361px;
  }
}

#linkNYC{
  img{
    height: 206px;
    margin-top: 6.4em;
    @include small{
      height: 211px;
      margin-top: 1em;
    }
    @include medium{
      height: 400px;
      margin-top: 1.7em;
      width: 126px;
    }
  }

  .floatleftsection{
    float: left;
    width: 65%;
    display: inline;
    @include small{
      float: none;
      width: 52%;
      display: inline-block;
      text-align: right;
    }
    @include medium{
      float: none;
      width: 51%;
      display: inline-block;
      text-align: right;
    }
  }
  .floatrightsection{
    float: right;
    width: 35%;
    display: inline;
    @include small{
      width: 46%;
      display: inline-block;
      text-align: left;
    }
    @include medium{
      width: 46%;
      display: inline-block;
      text-align: left;
    }
  }

  .btn-secondary-outline{
    margin-top: -1.5em;
    @include small{
      margin-top: -3em;
      margin-left: 2.3em;
    }
    @include medium{
      margin-top: -4.5em;
      margin-left: 4.5em;
    }
  }

  p{
    padding-right: 0;
    @include small{
      max-width: 254px;
      display: inline-block;
    }
    @include medium{
      max-width: 535px;
    }
  }
}

#lemletLab{
  clear: both;
  overflow: hidden;
  img{
    height: 263px;
    margin-left: -4em;
    margin-top: 6.1em;
    @include small{
      height: 180px;
      margin-left: -0.9em;
      margin-top: .8em;
      float: right;
    }
    @include medium{
      height: 325px;
      margin-left: -1.5em;
      margin-top: 1.7em;
      width: 280px;
    }
  }

  h4{
    @include medium{
      letter-spacing: -.5px;
    }
  }

  .floatleftsection{
    float: left;
    width: 40%;
    display: inline;
    @include small{
      width: 49%;
      padding: 0;
      text-align: right;
    }
    @include medium{
      width: 50%;
      padding: 0 .9375em;
      text-align: right;
    }
  }

  .floatrightsection{
    float: right;
    width: 60%;
    display: inline;
    text-align: right;
    @include small{
      width: 51%;
      text-align: left;
      padding: 0;
    }
    @include medium{
      width: 50%;
      text-align: left;
      padding: 0;
    }
  }

  .btn-secondary-outline{
    margin-top: -8em;
    @include small{
      margin-top: 7em;
    }
    @include medium{
      margin-top: 10em;
      margin-right: 0;
      margin-left: 0;
    }
  }

  p{
    padding-right: 0;
    padding-left: 2em;
    span{
      display: block;
    }
    @include small{
      padding-left: .7em;
      max-width: 256px;
    }
    @include medium{
      padding-left: 0;
      max-width: 465px;
    }
  }
}

#clients{
    overflow: hidden;
    height: 650px;
    clear: both;
    background-color: #141414;
    h2{
      @include fontBaskerville(24px, italic, normal);
      padding: 1.4em 2.5em 2.3em;
      line-height: 27px;
      @include small{
        @include fontBaskerville(32px, italic, normal);
        padding: 1.6em 0em 1.4em;
      }
      @include medium{
        @include fontBaskerville(60px, italic, normal);
        padding-bottom: 2.1em;
        margin-top: 6px;
      }

    }
    img{
      height: 100%;
      padding-bottom: 3.7em;
      margin: 0 auto;
      @include small{
        width: 76%;
        max-width: 561px;
        max-height: 160px;
        padding-bottom: 2.7em;
      }
      @include medium{
        width: 65%;
        padding-bottom: 6em;
        margin-bottom: 0;
        max-width: none;
        max-height: none;
      }
      @include large{
        width: 65%;
      }
    }
    .btn-secondary-outline {
      margin-top: -1em;
      @include small{
        margin-top: 1em;
      }
    }
    @include small{
      height: 384px;
    }
    @include medium{
      height: 532px;
    }
    @include large{
      height: 532px;
    }
}

#readytorock{
  display: none;
  background-image: url('../images/backgrounds/desktop_readyToRock.jpg');
  background-size: cover;
  background-position: center;
  height: 256px;
  h2{
    @include fontBaskerville(60px, italic, normal);
    font-size: 48px;
    padding-top: .4em;
    padding-bottom: .55em;
    @include medium{
      padding-top: 1.1em;
    }
  }
  @include medium{
    display: block;
  }
}

#ourworkContainer{
  .backgroungLink{
    background-image: url('../images/backgrounds/mobile_work_caseStudy1.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include medium{
      background-image: url('../images/backgrounds/desktop_work_caseStudy1@2x.jpg');
      background-position: 100%;
    }
  }

  #hero{
    @include medium{
      p{
        max-width: 970px;
      }
    }
  }

  .backgroungletLab{
    background-image: url('../images/backgrounds/mobile_labs_home.jpg');
    background-size: cover;
    background-position: center;
    @include medium{
      background-image: url('../images/backgrounds/desktop_work_caseStudy2@2x.jpg');
    }
  }
  #linkNYC, #lemletLab{
    height: 560px;
    h2{
      padding-bottom: 1em;
    }
    img{
      float: right;
      height: 206px;
      margin-top: 1.7em;
      margin-right: 3.5em;
      @include small{
        float: right;
        height: 361px;
        margin-top: 4.3em;
        margin-right: 2.1em;
        width: 134px;
      }
      @include medium{
        float: right;
        height: 461px;
        margin-top: 4.3em;
        margin-right: 2.1em;
        width: 134px;
      }
    }
    p{
      line-height: 17px;
      padding-right: .95200em;
    }
    @include small{
      height: 460px;
    }
    @include medium{
      height: 600px;
    }
    /*.floatleftsection, .floatrightsection{
      padding-left: 0; padding-right: 0;
    }*/
  }
  #linkNYC{
    h4{
      @include small{
        margin-right: 2.2em;
      }
      @include medium{
        margin-right: 2.2em;
      }
    }
    h2{
      @include small{
        margin-right: 1.2em;
        padding-bottom: .2em;
      }
      @include medium{
        margin-right: 1.2em;
        padding-bottom: .2em;
      }
    }
    p{
      @include small{
        display: inline-block;
        margin-right: 2.2em;
        max-width: 625px;
        line-height: 21px;
        margin-bottom: 1.3em;
      }
      @include medium{
        display: inline-block;
        margin-right: 2.2em;
        max-width: 625px;
        line-height: 21px;
        margin-bottom: 1.3em;
      }
    }
    .firstParagraph{

      margin-bottom: .8em;
      @include small{
        margin-bottom: 1.37em;
        max-width: 625px;
      }
      @include medium{
        margin-bottom: 1.37em;
        max-width: 625px;
      }
    }
    .floatleftsection{
      width: 100%;
      @include small{
        width: 55%;
      }
      @include medium{
        width: 55%;
      }
      img{
        @include mobile{
          margin-right: 9%;
        }
      }
    }
    .floatrightsection{
      @include mobile{
        display: none;
      }
      @include small{
        display: inline;
      }
      float: right;
      width: 45%;
      img{
        float: left;
      }
    }
  }

  #lemletLab{

    h4{
      padding-left: .4em;
      @include small{
        padding-left: 1.1em;
      }
      @include medium{
        padding-left: 1.1em;
      }
    }
    h2{
      text-transform: uppercase;
      padding-left: 0.3em;
      @include small{
        padding-left: 0.6em;
        padding-bottom: .2em;
      }
      @include medium{
        padding-left: 0.6em;
        padding-bottom: .2em;
      }
    }
    p{
      padding-left: 0.5em;
      @include small{
        max-width: 525px;
        padding-left: 1.6em;
        line-height: 21px;
        letter-spacing: .3px;
      }
      @include medium{
        max-width: 525px;
        padding-left: 1.6em;
        line-height: 21px;
        letter-spacing: .3px;
      }
    }
    img{

      margin-top: 2.4em;
      margin-right: .7em;
      @include mobile{
        margin-left: 0;
        height: 26%;
        width: 42%;
      }
      @include small{
        height: 383px;
        width: 324px;
        margin-top: 3em;
        margin-right: .9em;
      }
      @include medium{
        height: 483px;
        width: 393px;
        margin-top: 4em;
        margin-right: .9em;
      }
    }
    .firstParagraph{

      margin-bottom: .9em;
      @include small{
        max-width: 520px;
        margin-bottom: 1.4em;
      }
      @include medium{
        max-width: 520px;
        margin-bottom: 1.4em;
      }
    }
    .floatleftsection{
      @include mobile{
        display: none;
      }
      @include small{
        display: inline;
      }
      width: 48%;
    }
    .floatrightsection{
      width: 100%;
      text-align: left;
      @include small{
        float: right;
        width: 52%;
      }
      @include medium{
        float: right;
        width: 52%;
      }
    }
  }

  #digital{
    .digital-innovtion{
      h2{
        padding-top: 2em;
        @include medium{
          padding-top: 1.8em;
        }
      }
    }
  }



  #ourworksolutions{
    background-color: #151d20;
    padding-left: 0;
    padding-right: 0;
    h2{
      @include fontBaskerville(24px, italic, normal);
      padding: 2.2em 0 1.3em;
      @include medium{
        @include fontBaskerville(36px, italic, normal);
        padding: 1.2em 0 .8em;
      }
    }
    p{
      @include fontSans(14px, normal, 300);
      letter-spacing: 0;
      display: block;
      margin: 0 auto;
      max-width: 335px;
      line-height: 17px;
      margin-bottom: 1.2em;
      @include medium{
        max-width: 965px;
        @include fontSans(18px, normal, 300);
        letter-spacing: 0;
        line-height: 21px;
      }
    }
    .oursolutions1, .oursolutions2, .oursolutions3{
      height: 239px;
      @include small{
        height: 241px;
        background-color: #151d20;
      }
      @include medium{
        height: 241px;
        background-color: #151d20;
      }
    }
    .oursolutions1{
      background-image: url(../images/backgrounds/services1.svg);
      background-position: left;
      background-repeat: no-repeat;
      background-size: 303px;
      background-position-x: -64px;
      background-position-y: -26px;
      @include medium{
        background-position-x: 2em;
        background-position-y: -26px;
      }
    }
    .oursolutions2{
      background-image: url(../images/backgrounds/services2.svg);
      background-position: right;
      background-repeat: no-repeat;
      background-color: #141414;
      background-size: 303px;
      background-position-x: 129px;
      background-position-y: -31px;
      @include medium{
        background-position-x: 98%;
        background-position-y: -31px;
      }
    }
    .oursolutions3{
      background-image: url(../images/backgrounds/services3.svg);
      background-position: left;
      background-repeat: no-repeat;
      background-size: 303px;
      background-position-x: -58px;
      @include medium{
        background-position-x: 2em;
        background-position-y: -26px;
      }
    }
  }
}

#ourcrewContainer{

}
