@mixin fontBaskerville($fontsize, $fontStyle:normal, $fontWeight:normal){
  font-family: Baskerville;
  font-weight: $fontWeight;
  font-size: $fontsize;
  font-style: $fontStyle;
}


@mixin fontSerif($fontsize, $fontStyle:normal, $fontWeight:normal){
  font-family: 'Open Sans script=all rev=1', 'Adobe Blank';
  font-weight: $fontWeight;
  font-size: $fontsize;
  font-style: $fontStyle;
  letter-spacing: 3px;
}


@mixin fontSans($fontsize, $fontStyle:normal, $fontWeight:normal){
  font-family: Open Sans;
  font-weight: $fontWeight;
  font-size: $fontsize;
  font-style: $fontStyle;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
