@mixin fontBaskerville($fontsize, $fontStyle:normal, $fontWeight:normal){
  font-family: Baskerville;
  font-weight: $fontWeight;
  font-size: $fontsize;
  font-style: $fontStyle;
}


@mixin fontSerif($fontsize, $fontStyle:normal, $fontWeight:normal){
  font-family: 'Open Sans', sans-serif;
  font-weight: $fontWeight;
  font-size: $fontsize;
  font-style: $fontStyle;
}


@mixin fontSans($fontsize, $fontStyle:normal, $fontWeight:normal){
  font-family: 'Open Sans', sans-serif;
  //font-weight: $fontWeight;
  font-size: $fontsize;
  //font-style: $fontStyle;
  letter-spacing: 1px;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
