.section2Mobile{
  display: none;
  @media (max-width: 35.9375em) {
    display: block;
  }
  @media (min-width: 36em) and (max-width: 47.9375em) {
    display: block;
  }
  @media (min-width: 48em) and (max-width:61.9375em) {
    display: block;
  }
}

.section2Desktop{
  display: inline;
  @media (max-width: 35.9375em) {
    display: none;
  }
  @media (min-width: 36em) and (max-width: 47.9375em) {
    display: none;
  }
  @media (min-width: 48em) and (max-width:61.9375em) {
    display: none;
  }
}

#caseStudiesDesktop{
  h1{
    line-height: 2em;
    color: #39687b;
    font-family: openSansLight;
    font-size: 1.75em;
    text-align: center;
    padding-top: 1.2em;
    height: 120px;
    margin: 0;
  }

  .box1, .box2{
    width: 50%;
    height: 356px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    a{
      color: #6bbad9;
      display: block;
    }
    img{
      display: block;
      margin: auto;
      margin-bottom: .75em;
    }
    .backgroundBox{
      background-color: rgba(0,0,0,0.5);
      padding-top: 9em;
      height: 356px;
    }

    .backgroundBox:hover{
      background-color: transparent;
      a{ display: none}
    }
  }

  .box1{
    background-image: url("../images/fullresolution/casestudyLinkNYC1-80.jpg");
    float: left;
  }

  .box2{
    background-image: url("../images/fullresolution/casestudyKountable1-80.jpg");
    float: right;
  }


  #kountableCase, #linkNYCCase{
    display: none;
    margin: 0;
    padding: 0;
  }

  #kountableCaseImg, #linkNYCCaseImg{
    height: 356px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #kountableCaseImg{
    background-image: url("../images/fullresolution/casestudyKountable2-80.jpg");
    float: left;
  }

  #linkNYCCaseImg{
    background-image: url("../images/fullresolution/casestudyLinkNYC2-80.jpg");
    float: right;
  }

  #linkNYCCaseText, #kountableCaseText{
    width: 50%;
    display: inline-block;
    background-color: black;
    color:#fff;
    height: 356px;
    p:first-child{padding-top: 3em;}
    p{padding-left: 1.5em;}
  }

  .box1:hover ~ #linkNYCCase{
    display: block;
    width: 100%;
  }

  .box2:hover ~ #kountableCase{
    display: block;
    width: 100%;
  }

  .box1:hover ~ #happyClients{
      display: none;
  }

  .box2:hover ~ #happyClients{
      display: none;
  }
}

.up-arrow {
  border-color: #000 transparent;
  border-style: solid;
  border-width: 0 50px 50px;
  height: 0;
  width: 0;
  content: '';
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


#happyClients{
  height: 356px;
  float: left;
  text-align: center;
  h1{
    color:#fff;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 2em;
    font-size: 1.75em;
    font-family: openSansLight;
    @media all and (max-width:24.375em) {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }
  .imgClass{
    padding: 0 2em;
    height: 90px;
    width: 28%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 72%;
    @media all and (max-width:24.375em){
      margin-bottom: .75em;
      width: 60%;
      background-size: 90%;
    }
    @media all and (min-width: 34em),
      all and (min-width:45em) and (max-width: 48em){
      width: 31%;
      background-size: 75%;
    }
  }
  .clientCurlmartImg{
    background-image: url("../images/fullresolution/clientCurlmart.svg");
  }
  .clientSbdigitalImg{
    background-image: url("../images/fullresolution/clientSbdigital.svg");
  }
  .clientFlywheelImg{
    background-image: url("../images/fullresolution/clientFlywheel.svg");
  }
  @media (max-width: 35.9375em) {
    height: 600px;
    .imgClass{ padding: 0; margin-bottom: 4.5em; width: 90%; background-size: 80%;}
  }
  @media (min-width: 36em) and (max-width: 47.9375em) {
    height: 600px;
    img{ padding: 0; margin-bottom: 5.5em;}
  }
  @media (min-width: 48em) and (max-width:61.9375em)  {
    height: 300px;
    img{
      padding: 0 3em;
      width: 28%;
      max-width: 397px;
    }
  }
}

a.uppercase.marginRight.scroll {
  margin-right: 2.5em;
  @media all and (min-width:45em) and (max-width: 48em){
    margin-right: 1.3em;
  }
}

.linkImageBackground{
  background-image: url("../images/fullresolution/clientLinknyc.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 42px;
  display: block;
  margin-bottom: .75em;
}

.kountableImageBackground{
  background-image: url("../images/fullresolution/clientKountable.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 42px;
  display: block;
  margin-bottom: .75em;
}

#caseStudiesMobile{
  .backgroundBlack{
    background-color: rgba(0,0,0,0.5);
    height: 360px;
    padding: 0;
    margin: 0;
    padding-top: 9em;
  }

  .box1, .box2{
    height: 360px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-repeat: none;
    background-size: cover;
    .linkImageBackground, .kountableImageBackground{
      display: block;
      margin: 4em auto 0;
    }
  }

  .box1{
    background-image: url("../images/fullresolution/casestudyLinkNYC1-80.jpg");
  }

  .box2{
    background-image: url("../images/fullresolution/casestudyKountable1-80.jpg");
  }

  #linkNYCCaseText, #kountableCaseText{
    background-color: #000;
    color: #fff;
    padding: 1em;
  }

  @media all and (max-width:24.375em) {

    .box1{
      background-position-y:50%;
    }
    .box2{
      background-position: 60% 20%;
    }
  }
  @media all and (min-width:24.375em) and (max-width: 33.75em),
    all and (min-width: 34em) {
    .box1{
      float: left;
      background-position-y:50%;
    }
    .box2{
      float: right;
      background-position: 60% 20%;
    }
    #linkNYCCaseText, #kountableCaseText{
      clear: both;
    }
  }
  @media
  all and (min-width: 34em),
  all and (min-width: 34em) and (max-width: 47.9375em){
    .box2{
      background-position: 50% 20%;
    }
  }
  @media all and (min-width: 48em) {
    padding-top: 0;
  }
}
