#clients{
  height: 737px;
  background-color: #141414;
  h2{
    @include fontBaskerville(60px, italic, normal);
    padding-top: 1.4em;
  }
  img{
    height: 208px;
    margin-top: 6.5em;
    margin-bottom: 6em;
  }
}
