body{
  background-color: $black;
  color: $colorWhite;
}

section{
  text-align: center;
  padding: 0 .9375em;
}

.row{
  margin-left: -.9375rem;
  margin-right: -.9375rem;
  @include small{
    margin-left: 0;
    margin-right: 0;
  }
}

.show{
  display: block;
}

.nostyleAnchor {
  text-decoration: none !important;
  color: $colorWhite;
  &:hover, &:focus {
    color: $colorWhite;
  }
}

.visibletablet{
  display: none;
  @include small{
    display: inline;
  }
  @include medium{
    display: none;
  }
}

.visibledesktop{
  display: none;
  @include medium{
    display: inline;
  }

}

.visiblemobile{
  display: inline;
  @include small{
    display: none!important;
  }
}

.visibletabletDesktop{
  display: none;
  @include small{
    display: inline-block;
  }
  @include medium{
    display: inline-block;
  }
}

.visibletabletMobile{
  display: inline;
  @include small{
    display: inline;
  }
  @include medium{
    display: none;
  }
}

.btn-secondary-outline {
    color: $colorWhite;
    background-image: none;
    background-color: $yellow;
    border-color: transparent;
    width: 178px;
    padding: 0.7em 0em;
    @include fontBaskerville(15px, italic, normal);
    @include small{
      @include fontBaskerville(11px, italic, normal);
      width: 122px !important;
      padding: 0.95em 0em;
    }
    @include medium{
      @include fontBaskerville(15px, italic, normal);
      width: 178px !important;
      padding: 1.2em 0em;
    }

    &:hover, &:focus {
      background-color: $lighter-blue;
      border-color: $lighter-blue;
      border-width: 1px;
    }
}

.blackbar{
  display: inline-table;
  width: 100%;
  z-index: 1000;
  height: 60px;
  opacity: 1;
  background-color: rgba(0,0,0,.85);
  @include medium{
    height: 100px;
  }
}

.nopaddingRight{padding-right: 0;}
.nopaddingLeft{padding-left: 0;}

.clearfloat{
  clear: both;
}

.sectionbuttons{
  clear: both;
  .downloadbutton{
    display: inline-block;
    width: 49%;

    img{
      bottom: 0;
      height: 40px;
      margin: 0 .625em;
      padding: 0;
      top:auto;
      width: 130px;

      @include small{
        width: 135px;
        height: 40px;
      }
      @include x-large{
        height: 60px;
        width: 190px;
      }
    }
    .imgAppStore{
      float: right;
      @include small{
        margin-right: 1.875em;
        margin-left: 0;
        float: none;
      }
    }
    .imgPlayStore{
      float: left;
      @include small{
        margin-right: 1.875em;
        margin-left: 0;
        float: none;
      }
    }
    @include small{
      width: 165px;
    }
    @include x-large{
      width: 18%;
    }
  }
  .btn-play-browser{
    width: 150px!important;
    height: 50px;
    padding: .9em 0;
    display: none!important;
    @include small{

    }
    @include medium{
      width: 135px!important;;
      height: 40px;
      margin: 0!important;
      display: inline-block!important;
      padding: .5em 0;
    }
    @include x-large{
      height: 60px;
      padding: 1.2em 0;
      width: 190px!important;
    }
  }
  @include mobile{
    margin-top: 6em;
  }
  @include small{
    margin-top: 0;
  }
  @include medium{
    float: left;
    width: 100%;
  }
}

.sectionbackgroundBand{
  background-image: url('../images/backgrounds/vrScreenshot_Mobile@2x.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  @include small{
    height: 200px;
    background-image: url('../images/backgrounds/vrScreenshots@2x.jpg');
    background-position: 100%;
  }
}
