body{
  background-color: gray;
  color: $colorWhite;
}

section{
  padding: 0 .85em;
  text-align: center;
}

.show{
  display: block;
}

.visibledesktop{
  display: none;
  @include small{
    display: inline;
  }
}

.visiblemobile{
  display: inline;
  @include small{
    display: none;
  }
}

.btn-secondary-outline {
    color: #ccc;
    background-image: none;
    background-color: #ce9a2b;
    border-color: transparent;
    height: 62px;
    width: 178px;
    padding: 0em 2em;
    @include fontBaskerville(16px, italic, normal);
}

.blackbar{
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 60px;
  opacity: 1;
  background-color: rgba(0,0,0,.85);
  @include small{
    height: 100px;
  }
}

.nopaddingRight{padding-right: 0;}
.nopaddingLeft{padding-left: 0;}
