#solutions{
  height: 361px;
  h2{
      @include fontBaskerville(36px, italic, nomal);
      padding-top: $space9;
      padding-bottom: 1.9em;
  }
  p{
    max-width: 243px;
    font-weight: 300;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0px!important;
    @include fontSans(18px, normal, 300);
  }

  .solutions1{
    background-image: url('../images/backgrounds/desktop_otherServices_hover1@2x.jpg');
    background-size: cover;
    height: 361px;
    padding: 0;
    h2{
      text-align: left;
      padding-left: 1.3em;
    }
    p{
      margin-left: 2.2em;
    }
  }
  .solutions2{
    background-image: url('../images/backgrounds/desktop_otherServices_hover2@2x.jpg');
    background-size: cover;
    height: 361px;
    p{
      margin-left: 4.3em;
    }
  }
  .solutions3{
    background-image: url('../images/backgrounds/desktop_otherServices_hover3@2x.jpg');
    background-size: cover;
    height: 361px;
    padding: 0;
    h2{
      text-align: right;
      padding-right: .3em;
    }
    p{
      margin-left: 8em;
    }
  }

  .blackbackground{
    opacity: 1;
    background-color: rgba(0,0,0,.85);
    background-size: cover;
    height: 361px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
