// Colors
$color1: #6cb7d7;
$color2: #39687b;
$color3: #d54e30;
$color4: #929d68;
$color5: #6bb9d9;
$color6: #d58242;
$color7: #3b2314;
$color8: #4d4d4d;


$space1: 1.2em;
$space2: 7.9em;
$space3: 2.5em;
$space4: 4.3em;
$space5: 6.5em;
$space6: 1.8em;
$space7: 1.4em;
$space8: 3.3em;
$space9: 2.8em;

$colorWhite: #fff;
$yellow: #ce9a2b;
$lighter-blue: #6bbad9;
$darker-red: #d44c30;
$darker-blue: #226a85;

$dark-blue: #141c1e;
$dark-grey: #131313;

$lighter-gray: #1c2427;
$lighter-green: #141c1e;
$lighter-yellow: #262117;
$lighter-red: #261917;
$lighter-black: #131313;
