@import "../variables/variables.scss";

#ourProcessSection {
  #ourProcess {
    p{
      max-width: 850px;
      display: block;
      margin: 0 auto;
      @media (max-width: 24.375em){
        max-width: 95%;
      }
      @media all and (min-width:45em) and (max-width: 48em){
        max-width: 95%;
      }
    }
    @media all and (min-width:45em) and (max-width: 48em){
      height: 200px;
    }
  }

  .section2DesktopOurProcess{
    display: inline-block;
    height: 1040px;
    @media all and (min-width: 48em),
    all and (min-width: 34em) and (max-width: 47.9375em){
      display: inline-block;
      .section2DesktopColRight p{height: 157px;}
      margin-top: 3em;
      .section2DesktopColLeft{
        width: 33%;
        float: left;
        text-align: right;
        @media all and (min-width: 75em)  {
          width: 35%;
          float: left;
          text-align: right;
        }
      }

      .section2DesktopColRight{
        width: 67%;
        float: left;
        text-align: left;
        padding-left: 10px;
        max-width: 885px;
        position: relative;
        padding-right: 10px;
        h2{
          font-size: 18px;
          text-transform: uppercase;
          color: #39687a;
          font-family: openSansBold;
        }
        p{
          font-size: 16px;
          font-family: roboto;
          font-weight: 300;
        }
        @media all and (min-width: 75em)  {
          width: 65%;
          float: right;
          text-align: left;
          padding-right: 18%;
          padding-left: 10px;
          h2{
            font-size: 18px;
            text-transform: uppercase;
            color: #39687a;
          }
          p{
            font-size: 16px;
            font-family: roboto;
            font-weight: 300;
          }
        }
      }
    }
    @media (max-width: 35.9375em) {
      display: none;
    }
    @media (min-width: 36em) and (max-width: 47.9375em) {
      display: none;
    }
    @media (min-width: 48em) and (max-width:61.9375em) {
      margin-top: 3em;
    }
    .ourProcessImg{
      background-image: url("../images/fullresolution/ourProcess.svg");
      background-repeat: no-repeat;
      background-position-x: 80%;
      height: 905px;
      display: block;
    }

    .section2DesktopColumn {
      @media all and (min-width: 75em)  {
        margin-top: 4em;
        height: 580px;
      }
    }
  }
  .section2MobileOurProcess {
      display: none;
      @media (max-width: 35.9375em) {
        display: block;
      }
      @media (min-width: 36em) and (max-width: 47.9375em) {
        display: block;
      }
      .section2ContentDiv1{
        .imgDivHeader {
          padding-top: 2em;
        }
      }

      .imgDivHeader{
        display: inline-block;
        width: 30%;
        float: left;
      }

      .section2ContentDiv2{
        .h2DivHeader{
          padding-top: 5.75em;
        }
      }

      .h2DivHeader {
        display: inline-block;
        width: 70%;
        padding: 5em 0 0 2.5em;
      }
  }
}

.section2Image {
  padding: 0.5em;
}
