#connectContainer {
  #hero {
    .headercontainer {
      padding-bottom: 20px;
    }

    .contactForm {
      width: 60%;
      margin: 0 auto;
    }

    .locationInfo {
      img {
        margin: 10px
      }
    }
  }
}
