<!DOCTYPE html>
<html ng-app="ganttApp">

  {% include head.html %}
  <link href="{{ "gantt/dhtmlxgantt.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
  <body id="page-top" class="index" ng-controller="MainGanttCtrl">
  
  <div data="tasks" dhx-gantt style="height:300px; width:100%;">
    <div gantt-template="task_text">
      <strong>#{{task.id}}</strong>: {{task.text | uppercase}}
    </div>
  </div>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="{{ "gantt/dhtmlxgantt.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "gantt/app.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "gantt/app.gantt.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
