<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Tropicana</title>
    <link rel="stylesheet" type="text/css" href="{{ "intersection/tropicana/css/styles.min.css" | prepend: site.baseurl }}">
  </head>
  <body ng-controller="HomeCtrl as vm">
    <div class="content">
      <h1>IT'S <strong ng-bind="vm.temp|number:0">...</strong><span class="degree">O</span></h1>
      <h2>GRAB SOME SUNSHINE</h2>
      <div class="bottle"><img src="{{ "intersection/tropicana/assets/images/bottle.png" | prepend: site.baseurl }}"></div>
      <div class="bottle-banner"><img src="{{ "intersection/tropicana/assets/images/bottle-banner.png" | prepend: site.baseurl }}"></div>
      <div class="iony"><img src="{{ "intersection/tropicana/assets/images/iony.png" | prepend: site.baseurl }}"></div>
    </div>
    <script src="{{ "intersection/tropicana/vendor/angular/angular.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "intersection/tropicana/js/bundle.min.js" | prepend: site.baseurl }}"></script>
  </body>
</html>