<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ "intersection/" | prepend: site.baseurl }}{{page.directory}}/css/styles.min.css">
  </head>
  <body ng-controller="HomeCtrl as vm">
{{ content }}
    <script src="{{ "intersection/" | prepend: site.baseurl }}{{page.directory}}/vendor/angular/angular.min.js"></script>
    <script src="{{ "intersection/" | prepend: site.baseurl }}{{page.directory}}/js/bundle.min.js"></script>
  </body>
</html>